section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleTable {
  background-color: var(--titleTablebackGround);
}

button {
  margin-left: 20px;
}

.collapseBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addNewBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
