<section>
  <h1>Managing default values</h1>
  <nz-collapse style="margin-top: 10px; width: 100%">
    <nz-collapse-panel
      style="width: 100%"
      *ngFor="let panel of panels; let i = index"
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzDisabled]="panel.disabled"
    >
      <div class="collapseBox">
        <div class="addNewBox">
          <input
            [(ngModel)]="panel.newItem"
            placeholder="Enter the new item"
            nz-input
            id=""
          />
          <button (click)="addItem(i)" nz-button nzType="primary">
            Add new
          </button>
        </div>
        <nz-table nzTemplateMode="true" #borderedTable nzBordered>
          <thead class="titleTable">
            <tr class="titleTable">
              <th class="titleTable" nzWidth="80px">No.</th>
              <th class="titleTable">Item</th>
              <th class="titleTable" nzWidth="150px">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of panel.items; let j = index">
            <tr>
              <td>{{ j + 1 }}</td>
              <td>{{ item }}</td>
              <td>
                <a
                  (nzOnConfirm)="editItem(i, j)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                >
                  Edit</a
                >
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  (nzOnConfirm)="deleteItem(i, j)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  >Delete</a
                >
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</section>
