<section>
  <h1>Managing default values</h1>
  <nz-collapse style="margin-top: 10px; width: 100%">
    <nz-collapse-panel
      style="width: 100%"
      *ngFor="let panel of panelOneParam; let i = index"
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzDisabled]="panel.disabled"
    >
      <div class="addNewBox">
        <input
          [(ngModel)]="panel.newItem"
          placeholder="Enter the new item"
          nz-input
        />
        <button (click)="addItem(i, panel.type)" nz-button nzType="primary">
          Add new
        </button>
      </div>
      <div class="collapseBox">
        <nz-table nzTemplateMode="true" #borderedTable nzBordered>
          <thead class="titleTable">
            <tr class="titleTable">
              <th class="titleTable" nzWidth="80px">No.</th>
              <th class="titleTable">Item</th>
              <th class="titleTable" nzWidth="150px">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of panel.param; let j = index">
            <tr>
              <td>{{ j + 1 }}</td>
              <td *ngIf="item.edit === false; else td2">{{ item.param }}</td>
              <ng-template #td2>
                <td>
                  <input [(ngModel)]="item.param" nz-input />
                </td>
              </ng-template>
              <td *ngIf="item.edit === false" style="text-align: center">
                <a
                  (nzOnConfirm)="editItem(i, j)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to edit?"
                >
                  Edit</a
                >
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  (nzOnConfirm)="deleteItem(item.id)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  >Delete</a
                >
              </td>
              <td *ngIf="item.edit === true" style="text-align: center">
                <a
                  style="margin: 15px"
                  (nzOnConfirm)="saveItem(i, j)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to save?"
                >
                  Save</a
                >
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-collapse-panel>
    <nz-collapse-panel
      style="width: 100%"
      *ngFor="let panel of panels; let i = index"
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzDisabled]="panel.disabled"
    >
      <div class="collapseBox">
        <nz-table nzTemplateMode="true" #borderedTable nzBordered>
          <thead class="titleTable">
            <tr class="titleTable">
              <th class="titleTable" nzWidth="80px">No.</th>
              <th class="titleTable">Item</th>
              <th class="titleTable">Serri</th>
              <th class="titleTable" nzWidth="150px">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of details; let j = index">
            <tr>
              <td>{{ j + 1 }}</td>
              <td *ngIf="item.edit === false; else editParamDetail">
                {{ item.param }}
              </td>
              <ng-template #editParamDetail>
                <td>
                  <input
                    [(ngModel)]="item.param"
                    nz-input
                    placeholder="Enter item"
                  />
                </td>
              </ng-template>
              <td *ngIf="item.edit === false; else editValueDetail">
                {{ item.value }}
              </td>
              <ng-template #editValueDetail>
                <td>
                  <input
                    [(ngModel)]="item.value"
                    nz-input
                    placeholder="Enter item"
                  />
                </td>
              </ng-template>
              <td
                *ngIf="item.edit === false; else editActionCertificate"
                style="text-align: center"
              >
                <a
                  (nzOnConfirm)="editdetail(j)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to edit?"
                >
                  Edit</a
                >
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  (nzOnConfirm)="deleteItem(item.id)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  >Delete</a
                >
              </td>
              <ng-template #editActionCertificate>
                <td style="text-align: center">
                  <a
                    (nzOnConfirm)="saveDetai(j)"
                    (nzOnCancel)="cancel()"
                    nz-popconfirm
                    nzPopconfirmTitle="Sure to save?"
                  >
                    Save</a
                  >
                </td>
              </ng-template>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Null</td>
              <td>
                <input
                  [(ngModel)]="newParam.param"
                  nz-input
                  placeholder="Enter item"
                />
              </td>
              <td>
                <input
                  [(ngModel)]="newParam.value"
                  nz-input
                  placeholder="Enter Serri"
                />
              </td>
              <td style="text-align: center">
                <a
                  (nzOnConfirm)="addDetail(panel.type)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to add?"
                >
                  Add new</a
                >
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-collapse-panel>
    <nz-collapse-panel
      style="width: 100%"
      [nzHeader]="certificatePanel.name"
      [nzActive]="certificatePanel.active"
      [nzDisabled]="certificatePanel.disabled"
    >
      <div class="collapseBox">
        <nz-table nzTemplateMode="true" #borderedTable nzBordered>
          <thead class="titleTable">
            <tr class="titleTable">
              <th class="titleTable" nzWidth="60px">No.</th>
              <th class="titleTable">Certificate Organization</th>
              <th class="titleTable" nzWidth="160px">Certificate number</th>
              <th class="titleTable" nzWidth="140px">Valid start date</th>
              <th class="titleTable" nzWidth="140px">Valid end date</th>
              <th class="titleTable" nzWidth="150px">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of certificates; let i = index">
            <tr>
              <td>{{ i + 1 }}</td>
              <td *ngIf="item.edit === false; else editOrgran">
                {{ item.certificateOrganization }}
              </td>
              <ng-template #editOrgran>
                <input
                  style="margin-top: 17px"
                  nz-input
                  [(ngModel)]="item.certificateOrganization"
                />
              </ng-template>
              <td *ngIf="item.edit === false; else editNO">
                {{ item.certificateNo }}
              </td>
              <ng-template #editNO>
                <input nz-input [(ngModel)]="item.certificateNo" />
              </ng-template>
              <td *ngIf="item.edit === false">
                {{ item.validStartDate }}
              </td>
              <td *ngIf="item.edit === true">
                <nz-date-picker
                  [(ngModel)]="item.validStartDate"
                ></nz-date-picker>
              </td>

              <td *ngIf="item.edit === false">
                {{ item.validEndDate }}
              </td>
              <td *ngIf="item.edit === true">
                <nz-date-picker
                  [(ngModel)]="item.validEndDate"
                ></nz-date-picker>
              </td>
              <td *ngIf="item.edit === false" style="text-align: center">
                <a
                  (nzOnConfirm)="editCertificate(i)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to edit?"
                >
                  Edit</a
                >
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  (nzOnConfirm)="deleteCerficate(item.id, i)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  >Delete</a
                >
              </td>
              <td *ngIf="item.edit === true" style="text-align: center">
                <a
                  (nzOnConfirm)="saveCertififcate(i)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to save?"
                >
                  Save</a
                >
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Null</td>
              <td>
                <input
                  [(ngModel)]="newCertificateName"
                  nz-input
                  placeholder="Enter Certificate Organization"
                />
              </td>
              <td>
                <input
                  [(ngModel)]="newCertificateNo"
                  nz-input
                  placeholder="Enter certificate number"
                />
              </td>
              <td>
                <nz-date-picker
                  [(ngModel)]="newCertificateStartDate"
                  nzPlaceHolder="Enter start date"
                ></nz-date-picker>
              </td>
              <td>
                <nz-date-picker
                  [(ngModel)]="newCertificateEndtDate"
                  nzPlaceHolder="Enter end date"
                ></nz-date-picker>
              </td>
              <td>
                <a
                  (nzOnConfirm)="addNewCertificate()"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to add?"
                  >Add new</a
                >
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</section>
