<section>
  <h1>Managing default values</h1>
  <nz-collapse style="margin-top: 10px; width: 100%">
    <nz-collapse-panel
      style="width: 100%"
      *ngFor="let panel of panels; let i = index"
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzDisabled]="panel.disabled"
    >
      <div class="collapseBox">
        <div class="addNewBox">
          <input
            [(ngModel)]="panel.newItem"
            placeholder="Enter the new item"
            nz-input
            id=""
          />
          <button (click)="addItem()" nz-button nzType="primary">
            Add new
          </button>
        </div>
        <nz-table nzTemplateMode="true" #borderedTable nzBordered>
          <thead class="titleTable">
            <tr class="titleTable">
              <th class="titleTable" nzWidth="80px">No.</th>
              <th class="titleTable">Item</th>
              <th class="titleTable" nzWidth="150px">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of panel.items; let j = index">
            <tr>
              <td>{{ j + 1 }}</td>
              <td>{{ item }}</td>
              <td>
                <a
                  (nzOnConfirm)="editItem()"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                >
                  Edit</a
                >
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  (nzOnConfirm)="deleteItem()"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  >Delete</a
                >
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-collapse-panel>
    <nz-collapse-panel
      style="width: 100%"
      [nzHeader]="certificatePanel.name"
      [nzActive]="certificatePanel.active"
      [nzDisabled]="certificatePanel.disabled"
    >
      <div class="collapseBox">
        <nz-table nzTemplateMode="true" #borderedTable nzBordered>
          <thead class="titleTable">
            <tr class="titleTable">
              <th class="titleTable" nzWidth="60px">No.</th>
              <th class="titleTable">Certificate Organization</th>
              <th class="titleTable" nzWidth="160px">Certificate number</th>
              <th class="titleTable" nzWidth="140px">Valid start date</th>
              <th class="titleTable" nzWidth="140px">Valid end date</th>
              <th class="titleTable" nzWidth="150px">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of certificates; let i = index">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ item.certificateOrganization }}</td>
              <td>{{ item.certificateNo }}</td>
              <td>{{ item.validStartDate }}</td>
              <td>{{ item.validEndDate }}</td>
              <td>
                <!-- <a
                  (nzOnConfirm)="editItem()"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to edit?"
                >
                  Edit</a
                >
                <nz-divider nzType="vertical"></nz-divider> -->
                <a
                  (nzOnConfirm)="deleteCerficate(item.id)"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  >Delete</a
                >
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Null</td>
              <td>
                <input
                  [(ngModel)]="newCertificateName"
                  nz-input
                  placeholder="Enter Certificate Organization"
                />
              </td>
              <td>
                <input
                  [(ngModel)]="newCertificateNo"
                  nz-input
                  placeholder="Enter certificate number"
                />
              </td>
              <td>
                <nz-date-picker
                  [(ngModel)]="newCertificateStartDate"
                  nzPlaceHolder="Enter start date"
                ></nz-date-picker>
              </td>
              <td>
                <nz-date-picker
                  [(ngModel)]="newCertificateEndtDate"
                  nzPlaceHolder="Enter end date"
                ></nz-date-picker>
              </td>
              <td>
                <a
                  (nzOnConfirm)="addNewCertificate()"
                  (nzOnCancel)="cancel()"
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to add?"
                  >Add new</a
                >
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</section>
