<section>
  <div class="header">
    <h1 class="title">
      Report on THICKNESS MEASUREMENT OF LONGITUDINAL MEMBERS (one, two or three
      transverse sections)
    </h1>
    <div class="infor">
      <p>Ship's name<span>M/V "AFRICAN EAGLE"</span></p>
      <p>Class Identity No.<span>03112356</span></p>
      <p>Report No.<span>VMC.UTM.22.046/5255939</span></p>
    </div>
  </div>
  <!-- Start tool bar -->
  <div class="toolBar">
    <button nz-button nzType="primary" (click)="showModalPercentManage()">
      Percentage management
    </button>
    <nz-modal
      [nzStyle]="{ top: '20px' }"
      [(nzVisible)]="isVisible"
      nzTitle="PERCENTAGE MANAGEMENT"
      (nzOnCancel)="onCancelModal()"
      (nzOnOk)="onOkModal()"
      [nzOkLoading]="isLoading"
    >
      <ng-container *nzModalContent>
        <nz-input-group nzAddOnBefore=" 1 " nzAddOnAfter="%">
          <nz-select style="width: 100%" nzPlaceHolder="Select">
            <nz-option nzLabel="20%" nzValue="20%"></nz-option>

            <nz-option nzLabel="25%" nzValue="25%"></nz-option>

            <nz-option nzLabel="30%" nzValue="30%"></nz-option>
          </nz-select>
        </nz-input-group>
      </ng-container>
    </nz-modal>
    <input
      class="input-row-value"
      nz-input
      type="number"
      [(ngModel)]="addRowValue"
    />
    <button class="btn-add-row" nz-button (click)="addRow()">
      <span nz-icon nzType="file-add" nzTheme="outline"></span> Add
      {{ addRowValue }} rows
    </button>
    <button nz-button nzType="primary" (click)="formService.addFormToAPI()">
      <span nz-icon nzType="save" nzTheme="outline"></span>Save
    </button>
  </div>
  <!-- End tool bar -->

  <!-- Start table -->
  <nz-table
    [nzScroll]="{ x: '2500px', y: '470px' }"
    [nzPageSize]="5"
    nzBordered
    class="table"
    nzTemplateMode=""
    nzSize="small"
  >
    <thead>
      <tr class="th">
        <th colspan="2"></th>
        <th colspan="11">
          1st TRANSVERSE SECTION <br />at Fr.No.:
          <input class="input-frame-no" type="number" nz-input />
          ~
          <input class="input-frame-no" type="number" nz-input />
        </th>
        <th colspan="11">
          2nd TRANSVERSE SECTION <br />at Fr.No.:
          <input class="input-frame-no" type="number" nz-input />
          ~
          <input class="input-frame-no" type="number" nz-input />
        </th>
        <th colspan="11">
          3rd TRANSVERSE SECTION <br />at Fr.No.:
          <input class="input-frame-no" type="number" nz-input />
          ~
          <input class="input-frame-no" type="number" nz-input />
        </th>
      </tr>
      <tr class="th">
        <th rowspan="2">No.</th>
        <th rowspan="2">Structural Member</th>
        <th rowspan="2">No. or Letter</th>
        <th rowspan="2">Original Thickness (mm)</th>
        <th rowSpan="2">Max Alwb Dim</th>
        <th colspan="2">Gauged mm</th>
        <th colspan="3">Diminution P</th>
        <th colspan="3">Diminution S</th>
        <th rowspan="2">No. or Letter</th>
        <th rowspan="2">Original Thickness (mm)</th>
        <th rowSpan="2">Max Alwb Dim</th>
        <th colspan="2">Gauged mm</th>
        <th colspan="3">Diminution P</th>
        <th colspan="3">Diminution S</th>
        <th rowspan="2">No. or Letter</th>
        <th rowspan="2">Original Thickness (mm)</th>
        <th rowSpan="2">Max Alwb Dim</th>
        <th colspan="2">Gauged mm</th>
        <th colspan="3">Diminution P</th>
        <th colspan="3">Diminution S</th>
      </tr>

      <tr class="th">
        <th>P</th>
        <th>S</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>P</th>
        <th>S</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>P</th>
        <th>S</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>mm</th>
        <th colspan="2">%</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of listRow; index as index" class="tb">
        <td>{{ index + 1 }}</td>
        <td><input nz-input type="text" /></td>
        <!-- Start first transverse section -->
        <td><input nz-input type="text" [(ngModel)]="row.noOrLetter" /></td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="
              row.firstTransverseSectionMeasurementDetail.originalThickness
            "
          />
        </td>
        <td>
          {{
            row.firstTransverseSectionMeasurementDetail.originalThickness !==
              "" && percentSelected !== 0
              ? formService.calculateForMaxAlwbDim(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  percentSelected
                )
              : ""
          }}
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.firstTransverseSectionMeasurementDetail.gaugedP"
          />
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.firstTransverseSectionMeasurementDetail.gaugedS"
          />
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetail.originalThickness,
              row.firstTransverseSectionMeasurementDetail.gaugedP
            )
              ? formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  row.firstTransverseSectionMeasurementDetail.gaugedP
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetail.originalThickness,
              row.firstTransverseSectionMeasurementDetail.gaugedP
            )
              ? formService.calculateForPercent(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  row.firstTransverseSectionMeasurementDetail.gaugedP
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  row.firstTransverseSectionMeasurementDetail.gaugedP
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  row.firstTransverseSectionMeasurementDetail.gaugedP
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.firstTransverseSectionMeasurementDetail
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300'
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetail.originalThickness,
              row.firstTransverseSectionMeasurementDetail.gaugedP
            ) &&
            row.firstTransverseSectionMeasurementDetail.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.firstTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.firstTransverseSectionMeasurementDetail.gaugedP
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.firstTransverseSectionMeasurementDetail
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.firstTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.firstTransverseSectionMeasurementDetail.gaugedP
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.firstTransverseSectionMeasurementDetail
                        .originalThickness,
                      row.firstTransverseSectionMeasurementDetail.gaugedP
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetail.originalThickness,
              row.firstTransverseSectionMeasurementDetail.gaugedS
            )
              ? formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  row.firstTransverseSectionMeasurementDetail.gaugedS
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetail.originalThickness,
              row.firstTransverseSectionMeasurementDetail.gaugedS
            )
              ? formService.calculateForPercent(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  row.firstTransverseSectionMeasurementDetail.gaugedS
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  row.firstTransverseSectionMeasurementDetail.gaugedS
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  row.firstTransverseSectionMeasurementDetail.gaugedS
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.firstTransverseSectionMeasurementDetail
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300'
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetail.originalThickness,
              row.firstTransverseSectionMeasurementDetail.gaugedS
            ) &&
            row.firstTransverseSectionMeasurementDetail.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.firstTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.firstTransverseSectionMeasurementDetail.gaugedS
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.firstTransverseSectionMeasurementDetail
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.firstTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.firstTransverseSectionMeasurementDetail.gaugedS
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.firstTransverseSectionMeasurementDetail
                        .originalThickness,
                      row.firstTransverseSectionMeasurementDetail.gaugedS
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <!-- End first transverse section -->

        <!-- Start second transverse section -->
        <td>{{ row.noOrLetter }}</td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="
              row.secondTransverseSectionMeasurementDetail.originalThickness
            "
          />
        </td>
        <td>
          {{
            row.firstTransverseSectionMeasurementDetail.originalThickness !==
              "" && percentSelected !== 0
              ? formService.calculateForMaxAlwbDim(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  percentSelected
                )
              : ""
          }}
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.secondTransverseSectionMeasurementDetail.gaugedP"
          />
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.secondTransverseSectionMeasurementDetail.gaugedS"
          />
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetail.originalThickness,
              row.secondTransverseSectionMeasurementDetail.gaugedP
            )
              ? formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetail
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetail.gaugedP
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetail.originalThickness,
              row.secondTransverseSectionMeasurementDetail.gaugedP
            )
              ? formService.calculateForPercent(
                  row.secondTransverseSectionMeasurementDetail
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetail.gaugedP
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetail
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetail.gaugedP
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetail
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetail.gaugedP
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.secondTransverseSectionMeasurementDetail
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300'
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetail.originalThickness,
              row.secondTransverseSectionMeasurementDetail.gaugedP
            ) &&
            row.secondTransverseSectionMeasurementDetail.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.secondTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.secondTransverseSectionMeasurementDetail.gaugedP
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.secondTransverseSectionMeasurementDetail
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.secondTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.secondTransverseSectionMeasurementDetail.gaugedP
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.secondTransverseSectionMeasurementDetail
                        .originalThickness,
                      row.secondTransverseSectionMeasurementDetail.gaugedP
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetail.originalThickness,
              row.secondTransverseSectionMeasurementDetail.gaugedS
            )
              ? formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetail
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetail.gaugedS
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetail.originalThickness,
              row.secondTransverseSectionMeasurementDetail.gaugedS
            )
              ? formService.calculateForPercent(
                  row.secondTransverseSectionMeasurementDetail
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetail.gaugedS
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetail
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetail.gaugedS
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetail
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetail.gaugedS
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.secondTransverseSectionMeasurementDetail
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300'
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetail.originalThickness,
              row.secondTransverseSectionMeasurementDetail.gaugedS
            ) &&
            row.secondTransverseSectionMeasurementDetail.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.secondTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.secondTransverseSectionMeasurementDetail.gaugedS
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.secondTransverseSectionMeasurementDetail
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.secondTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.secondTransverseSectionMeasurementDetail.gaugedS
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.secondTransverseSectionMeasurementDetail
                        .originalThickness,
                      row.secondTransverseSectionMeasurementDetail.gaugedS
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <!-- End second transverse section -->

        <!-- Start third transverse section -->
        <td>{{ row.noOrLetter }}</td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="
              row.thirdTransverseSectionMeasurementDetail.originalThickness
            "
          />
        </td>
        <td>
          {{
            row.firstTransverseSectionMeasurementDetail.originalThickness !==
              "" && percentSelected !== 0
              ? formService.calculateForMaxAlwbDim(
                  row.firstTransverseSectionMeasurementDetail.originalThickness,
                  percentSelected
                )
              : ""
          }}
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.thirdTransverseSectionMeasurementDetail.gaugedP"
          />
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.thirdTransverseSectionMeasurementDetail.gaugedS"
          />
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetail.originalThickness,
              row.thirdTransverseSectionMeasurementDetail.gaugedP
            )
              ? formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetail.originalThickness,
                  row.thirdTransverseSectionMeasurementDetail.gaugedP
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetail.originalThickness,
              row.thirdTransverseSectionMeasurementDetail.gaugedP
            )
              ? formService.calculateForPercent(
                  row.thirdTransverseSectionMeasurementDetail.originalThickness,
                  row.thirdTransverseSectionMeasurementDetail.gaugedP
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetail.originalThickness,
                  row.thirdTransverseSectionMeasurementDetail.gaugedP
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetail.originalThickness,
                  row.thirdTransverseSectionMeasurementDetail.gaugedP
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.thirdTransverseSectionMeasurementDetail
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300'
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetail.originalThickness,
              row.thirdTransverseSectionMeasurementDetail.gaugedP
            ) &&
            row.thirdTransverseSectionMeasurementDetail.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.thirdTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.thirdTransverseSectionMeasurementDetail.gaugedP
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.thirdTransverseSectionMeasurementDetail
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.thirdTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.thirdTransverseSectionMeasurementDetail.gaugedP
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.thirdTransverseSectionMeasurementDetail
                        .originalThickness,
                      row.thirdTransverseSectionMeasurementDetail.gaugedP
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetail.originalThickness,
              row.thirdTransverseSectionMeasurementDetail.gaugedS
            )
              ? formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetail.originalThickness,
                  row.thirdTransverseSectionMeasurementDetail.gaugedS
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetail.originalThickness,
              row.thirdTransverseSectionMeasurementDetail.gaugedS
            )
              ? formService.calculateForPercent(
                  row.thirdTransverseSectionMeasurementDetail.originalThickness,
                  row.thirdTransverseSectionMeasurementDetail.gaugedS
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetail.originalThickness,
                  row.thirdTransverseSectionMeasurementDetail.gaugedS
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetail.originalThickness,
                  row.thirdTransverseSectionMeasurementDetail.gaugedS
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.thirdTransverseSectionMeasurementDetail
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300'
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetail.originalThickness,
              row.thirdTransverseSectionMeasurementDetail.gaugedS
            ) &&
            row.thirdTransverseSectionMeasurementDetail.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.thirdTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.thirdTransverseSectionMeasurementDetail.gaugedS
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.thirdTransverseSectionMeasurementDetail
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.thirdTransverseSectionMeasurementDetail
                      .originalThickness,
                    row.thirdTransverseSectionMeasurementDetail.gaugedS
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.thirdTransverseSectionMeasurementDetail
                        .originalThickness,
                      row.thirdTransverseSectionMeasurementDetail.gaugedS
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetail
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <!-- End third transverse section -->
      </tr>
    </tbody>
  </nz-table>
  <!-- End table -->
</section>
