.title {
  text-align: center;
}

input {
  border-radius: 4px;
}

.infor {
  display: flex;
  justify-content: space-between;
}

.infor span {
  border-bottom: 1px dotted;
  margin-left: 10px;
  display: inline-block;
  width: 200px;
  text-align: center;
  font-weight: 700;
}

.th th {
  background-color: rgb(129, 194, 255);
  text-align: center;
}

.th span {
  display: block;
}
.inp {
  width: 12%;
}
.tb {
  position: relative;
}
.tb td {
  text-align: center;
}

.toolBar {
  margin: 5px 25px 6px;
  float: right;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.toolBar button {
  background-color: rgb(20, 139, 250);
  border: 0;
  cursor: pointer;
  color: white;
  width: 100%;
  border-radius: 5px;
  margin-left: 10px;
}

.toolBar button:hover {
  transition: 0.5s;
  background-color: rgb(53, 158, 255);
}

.input-row-value {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-add-row {
  white-space: nowrap;
}

input.ng-dirty.ng-invalid {
  color: red;
  border-color: red;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none;
}

.table-header-right {
  position: sticky;
  right: 0;
  z-index: 2;
  border-left: 1px solid #f0f0f0;
}

.table-body-right {
  position: sticky;
  right: 0;
  z-index: 2;
  background-color: #f0f0f0;
  border-left: 1px solid #f0f0f0;
}

.table-body-left {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #f0f0f0;
  border-left: 1px solid #f0f0f0;
  cursor: pointer;
}
