.title {
  text-align: center;
}

input {
  border-radius: 4px;
}

.infor {
  display: flex;
  justify-content: space-between;
}

.infor span {
  border-bottom: 1px dotted;
  margin-left: 10px;
  display: inline-block;
  width: 200px;
  text-align: center;
  font-weight: 700;
}

.th th {
  background-color: rgb(129, 194, 255);
  text-align: center;
}

.th span {
  display: block;
}
.inp {
  width: 12%;
}
.tb {
  height: 20px;
}
.tb td {
  text-align: center;
}

.toolBar {
  margin: 5px 25px 0;
  float: right;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.toolBar button {
  background-color: rgb(20, 139, 250);
  border: 0;
  cursor: pointer;
  color: white;
  width: 100%;
  border-radius: 5px;
  margin-left: 10px;
}

.toolBar button:hover {
  transition: 0.5s;
  background-color: rgb(53, 158, 255);
}

.input-row-value {
  max-width: 50px;
  text-align: center;
  margin-left: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-add-row {
  white-space: nowrap;
}
