.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
  text-align: center;
}

.editable-row:hover .editable-cell {
  border: 1px solid #555555;
  border-radius: 4px;
  padding: 4px 11px;
}

.background-color-header-table {
  background-color: var(--blue);
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}
