.title{
    text-align: center;
}

input{
    border-radius: 4px;
}

.infor{
    display: flex;
    justify-content: space-between;
}

.infor span{
    border-bottom: 1px dotted ;
    margin-left: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    font-weight: 700;
}

.th th{
    background-color: rgb(129,194,255);
    text-align: center;
}

.th span{
    display: block;
}
.inp{
    width: 12%;
}
.tb {
    height: 20px;
}
.tb td{
    text-align: center;
}
/* ::ng-deep .ant-table-body::-webkit-scrollbar {
  width: 0px !important;
  background-color: transparent;
} */
.addPage{
    margin: 5px 0;
    float: right;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    margin-right: 18px;
    width: 25%;
    justify-content: space-between;
}
.addPage button{
    background-color: rgb(20, 139, 250);
    border: 0;
    cursor: pointer;
    color: white;
    width: 90%;
    margin-left: 10px;
    border-radius: 5px;
}

.addPage button:hover{
    transition: 0.5s;
    background-color: rgb(53, 158, 255);
}
