<section>
  <div class="form-code">
    <div style="float: right">
      <nz-input-group nzAddOnBefore="TM6">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a code"
          [(ngModel)]="formTM6.code"
          style="min-width: 150px"
        >
          <nz-option
            *ngFor="let option of listFormCode"
            nzLabel="{{ option.param }}"
            nzValue="{{ option.param }}"
          ></nz-option>
        </nz-select>
      </nz-input-group>
    </div>
  </div>

  <div class="header">
    <h1 class="title">
      Report on THICKNESS MEASUREMENT OF MISCELLANEOUS STRUCTURAL MEMBERS
    </h1>
    <div class="infor">
      <p>
        Ship's name<span>{{
          generalParticular ? generalParticular.shipInfo.name : ""
        }}</span>
      </p>
      <p>
        Class Identity No.<span>{{
          generalParticular ? generalParticular.shipInfo.absIdentification : ""
        }}</span>
      </p>
      <p>
        Report No.<span>{{
          generalParticular ? generalParticular.reportNo : ""
        }}</span>
      </p>
    </div>
  </div>
  <!-- Start tool bar -->
  <div class="toolBar">
    <button nz-button nzType="primary" (click)="showModalPercentManage()">
      <span nz-icon nzType="reconciliation" nzTheme="outline"></span>Percentage
      management
    </button>
    <nz-modal
      [nzStyle]="{ top: '20%' }"
      [(nzVisible)]="isPercentVisible"
      nzTitle="PERCENTAGE MANAGEMENT"
      (nzOnCancel)="onCancelModal()"
      (nzOnOk)="onOkModal()"
    >
      <ng-container *nzModalContent>
        <nz-input-group
          *ngFor="let param of listStructuralMember; index as index"
          nzAddOnBefore=" {{ index + 1 }} "
          nzAddOnAfter="%"
        >
          <input
            nz-input
            type="text"
            [disabled]="true"
            [defaultValue]="param.param"
            style="width: 70%; cursor: default"
          />
          <nz-select
            style="width: 30%"
            nzPlaceHolder="Select percent"
            [(ngModel)]="param.value"
            (ngModelChange)="setPercent($event, param.param)"
          >
            <nz-option nzLabel="20%" nzValue="1"></nz-option>
            <nz-option nzLabel="20% + 1" nzValue="2"></nz-option>
            <nz-option nzLabel="25%" nzValue="3"></nz-option>
            <nz-option nzLabel="30%" nzValue="4"></nz-option>
          </nz-select>
        </nz-input-group>
      </ng-container>
    </nz-modal>

    <button class="btn-add-row" nz-button (click)="showModal()">
      <span nz-icon nzType="file-add" nzTheme="outline"></span> Add row
    </button>
    <nz-modal
      [nzStyle]="{ top: '20%' }"
      [(nzVisible)]="isAddRowVisible"
      nzTitle="Enter number of rows"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      nzWidth="400px"
    >
      <nz-input-group nzCompact *nzModalContent>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a structural member title"
          [(ngModel)]="structuralMemberSelected"
          style="width: 70%"
        >
          <nz-option nzLabel="Add a new list" nzValue="{{ -1 }}"></nz-option>
          <nz-option
            *ngFor="
              let structuralDescription of formTM6.structuralDescriptionTM6List;
              index as index
            "
            nzLabel="{{ structuralDescription.structuralDescriptionTitle }}"
            nzValue="{{ index }}"
          ></nz-option>
        </nz-select>
        <input
          class="input-row-value"
          nz-input
          type="number"
          min="0"
          max="100"
          [(ngModel)]="addRowValue"
          pattern="^(?:[1-9]|[1-9][0-9]|100)$"
        />
      </nz-input-group>
    </nz-modal>

    <button class="btn-add-row" nz-button (click)="showAddSketches()">
      <span nz-icon nzType="folder-add" nzTheme="outline"></span> Add sketches
    </button>
    <nz-modal
      [nzStyle]="{ top: '10%' }"
      [(nzVisible)]="isVisibleAddSketches"
      nzTitle="Add sketches"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancelAddSketches()"
      (nzOnOk)="handleOkAddSketches()"
      nzWidth="70%"
    >
      <div *nzModalContent>
        <div *ngIf="isLoadingSketches; else showSketches">
          <nz-spin
            nzSimple
            [nzSpinning]="isLoadingSketches"
            [nzSize]="'large'"
            style="display: flex; justify-content: center; margin-top: 30px"
          >
          </nz-spin>
        </div>
        <ng-template #showSketches>
          <input
            nz-input
            type="file"
            accept="image/*"
            (change)="onChangeImage($event)"
            multiple
          />
          <div
            *ngIf="listPreviewSketches.length > 0 && !isLoadingSketches"
            class="preview-container"
          >
            <div class="preview-title">
              <h1
                style="margin-bottom: 0; padding: 0 5px; line-height: initial"
              >
                Preview
              </h1>
            </div>
            <div class="preview-sketches">
              <div
                *ngFor="let sketch of listPreviewSketches; index as index"
                class="preview-image"
                [style.background-image]="'url(' + sketch + ')'"
              >
                <div class="preview-sketches-overlay">
                  <span
                    nz-icon
                    class="delete-button"
                    nzType="delete"
                    nzTheme="outline"
                    (click)="deletePreviewSketches(index)"
                  ></span>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="listSketches.length > 0 && !isLoadingSketches"
            class="preview-container"
          >
            <div class="preview-title">
              <h1
                style="margin-bottom: 0; padding: 0 5px; line-height: initial"
              >
                Saved
              </h1>
            </div>
            <div class="preview-sketches">
              <div
                *ngFor="let sketch of listSketches; index as index"
                class="preview-image"
                [style.background-image]="
                  'url(' +
                  'data:' +
                  sketch.type +
                  ';base64,' +
                  sketch.value +
                  ')'
                "
              >
                <div class="preview-sketches-overlay">
                  <span
                    nz-icon
                    class="delete-button"
                    nzType="delete"
                    nzTheme="outline"
                    (click)="deleteSavedSketches(index)"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancelAddSketches()">
          Cancel
        </button>
        <button
          nz-button
          nzType="primary"
          [disabled]="isLoadingSketches"
          (click)="handleOkAddSketches()"
          [nzLoading]="isConfirmLoadingSketches"
        >
          Save
        </button>
      </ng-template>
    </nz-modal>

    <button style="width: fit-content; padding: 0">
      <label for="import-excel">
        <div class="import-excel">
          <span nz-icon nzType="upload" nzTheme="outline"></span
          ><span style="margin-left: 8px">Import excel</span>
        </div>
      </label>
      <input
        type="file"
        accept=".xls"
        style="display: none"
        id="import-excel"
        [(ngModel)]="selectedFile"
        (change)="onImportExcel($event)"
      />
    </button>

    <button
      nz-button
      nzType="primary"
      (click)="onSaveForm()"
      [nzLoading]="isLoadingSaveButton"
    >
      <span nz-icon nzType="save" nzTheme="outline"></span>Save
    </button>
  </div>
  <nz-table
    [nzData]="formTM6.structuralDescriptionTM6List"
    [nzFrontPagination]="false"
    [nzScroll]="{ y: '500px' }"
    nzBordered
    class="table"
    nzTemplateMode=""
    nzSize="small"
  >
    <thead>
      <tr class="th">
        <th rowspan="4">No.</th>
        <th colspan="3">STRUCTURAL MEMBERS :</th>
        <th colspan="10">
          <input nz-input type="text" [(ngModel)]="formTM6.structuralMembers" />
        </th>
        <th rowspan="2">SKETCH</th>
        <th class="table-header-right" colSpan="2" rowspan="4">Action</th>
      </tr>
      <tr class="th">
        <th colspan="3">LOCATION OF STRUCTURE :</th>
        <th colspan="10">
          <input
            nz-input
            type="text"
            [(ngModel)]="formTM6.locationOfStructure"
          />
        </th>
      </tr>
      <tr class="th">
        <th rowspan="2" colspan="3">Description</th>
        <th class="inp" rowspan="2">Original Thickness (mm)</th>
        <th class="inp" rowspan="2">Maximum Allowable Dim. (mm)</th>
        <th class="inp" colspan="2">Gauged <span>mm</span></th>
        <th colspan="3">Diminution <span>P</span></th>
        <th colspan="3">Diminution <span>S</span></th>
        <th rowspan="2"></th>
      </tr>
      <tr class="th">
        <th>P</th>
        <th>S</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>mm</th>
        <th colspan="2">%</th>
      </tr>
    </thead>
    <tbody
      *ngFor="
        let structuralDescription of formTM6.structuralDescriptionTM6List;
        index as i
      "
      cdkDropList
      [cdkDropListData]="listRow"
      (cdkDropListDropped)="onDrop($event, i)"
    >
      <tr class="tb">
        <td>
          {{ i === 0 ? i + 1 : countRowBefore(i) + 1 }}
        </td>
        <td colSpan="3">
          <input
            nz-input
            type="text"
            [(ngModel)]="structuralDescription.structuralDescriptionTitle"
          />
        </td>
        <td colSpan="10"></td>
        <td></td>
        <td
          class="table-body-right"
          style="background-color: white"
          colSpan="2"
        >
          <nz-button-group>
            <button
              nz-button
              nz-popconfirm
              nzPopconfirmTitle="Sure to delete?"
              (nzOnConfirm)="deleteListRow(i)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </nz-button-group>
        </td>
      </tr>
      <tr
        *ngFor="let row of structuralDescription.measurementTM6List; index as j"
        class="tb"
        cdkDragLockAxis="y"
        cdkDragBoundary="tbody"
        (cdkDragEnded)="onDragEnded($event)"
        cdkDrag
        [cdkDragDisabled]="
          selectedRow.includes(j) === false || selectedListRow !== i
        "
        [style.background]="
          selectedRow.includes(j) && selectedListRow === i
            ? '#FFE6C1 !important'
            : formService.checkBeforeSave(
                row.detailMeasurement.originalThickness,
                row.detailMeasurement.gaugedP
              ) &&
              formService.checkBeforeSave(
                row.detailMeasurement.originalThickness,
                row.detailMeasurement.gaugedS
              )
            ? ''
            : '#FF3333 !important'
        "
      >
        <td
          class="table-body-left"
          style="background-color: white"
          (click)="selectRow(j, i)"
        >
          {{ i === 0 ? j + 2 : j + countRowBefore(i) + 2 }}
        </td>
        <td colSpan="2">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a description"
            [(ngModel)]="row.description"
            (ngModelChange)="onSelected($event, i, j)"
            style="width: 100%"
          >
            <nz-option
              *ngFor="let param of listStructuralMember"
              nzLabel="{{ param.param }}"
              nzValue="{{ param.param }}"
            ></nz-option>
          </nz-select>
        </td>
        <td><input nz-input type="text" [(ngModel)]="row.item" /></td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.detailMeasurement.originalThickness"
          />
        </td>
        <td>
          {{
            row.detailMeasurement.originalThickness !== "" &&
            convertToNumber(row.detailMeasurement.percent) !== 0
              ? formService.calculateForMaxAlwbDim(
                  row.detailMeasurement.originalThickness,
                  convertToNumber(row.detailMeasurement.percent)
                )
              : ""
          }}
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.detailMeasurement.gaugedP"
          />
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.detailMeasurement.gaugedS"
          />
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.detailMeasurement.originalThickness,
              row.detailMeasurement.gaugedP
            )
              ? formService.calculateForMm(
                  row.detailMeasurement.originalThickness,
                  row.detailMeasurement.gaugedP
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.detailMeasurement.originalThickness,
              row.detailMeasurement.gaugedP
            )
              ? formService.calculateForPercent(
                  row.detailMeasurement.originalThickness,
                  row.detailMeasurement.gaugedP
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.detailMeasurement.originalThickness,
                  row.detailMeasurement.gaugedP
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.detailMeasurement.originalThickness,
                      convertToNumber(row.detailMeasurement.percent)
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.detailMeasurement.originalThickness,
                  row.detailMeasurement.gaugedP
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.detailMeasurement.originalThickness,
                    convertToNumber(row.detailMeasurement.percent)
                  )
                )
                ? '#0000FF'
                : '#FF3300',
            'background-color':
              formService.checkBeforeCalculate(
                row.detailMeasurement.originalThickness,
                row.detailMeasurement.gaugedP
              ) &&
              row.detailMeasurement.originalThickness !== '' &&
              convertToNumber(row.detailMeasurement.percent) !== 0
                ? convertToNumber(
                    formService.calculateForMm(
                      row.detailMeasurement.originalThickness,
                      row.detailMeasurement.gaugedP
                    )
                  ) >=
                    convertToNumber(
                      formService.threePartsFourOfMaxAlwbDim(
                        formService.calculateForMaxAlwbDim(
                          row.detailMeasurement.originalThickness,
                          convertToNumber(row.detailMeasurement.percent)
                        )
                      )
                    ) &&
                  convertToNumber(
                    formService.calculateForMm(
                      row.detailMeasurement.originalThickness,
                      row.detailMeasurement.gaugedP
                    )
                  ) <=
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.detailMeasurement.originalThickness,
                        convertToNumber(row.detailMeasurement.percent)
                      )
                    )
                  ? 'rgba(0,0,255,0.2)'
                  : convertToNumber(
                      formService.calculateForMm(
                        row.detailMeasurement.originalThickness,
                        row.detailMeasurement.gaugedP
                      )
                    ) >
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.detailMeasurement.originalThickness,
                        convertToNumber(row.detailMeasurement.percent)
                      )
                    )
                  ? 'rgba(255,0,0,0.2)'
                  : ''
                : ''
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.detailMeasurement.originalThickness,
              row.detailMeasurement.gaugedP
            ) &&
            row.detailMeasurement.originalThickness !== "" &&
            convertToNumber(row.detailMeasurement.percent) !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.detailMeasurement.originalThickness,
                    row.detailMeasurement.gaugedP
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.detailMeasurement.originalThickness,
                        convertToNumber(row.detailMeasurement.percent)
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.detailMeasurement.originalThickness,
                    row.detailMeasurement.gaugedP
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.detailMeasurement.originalThickness,
                      convertToNumber(row.detailMeasurement.percent)
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.detailMeasurement.originalThickness,
                      row.detailMeasurement.gaugedP
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.detailMeasurement.originalThickness,
                      convertToNumber(row.detailMeasurement.percent)
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.detailMeasurement.originalThickness,
              row.detailMeasurement.gaugedS
            )
              ? formService.calculateForMm(
                  row.detailMeasurement.originalThickness,
                  row.detailMeasurement.gaugedS
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.detailMeasurement.originalThickness,
              row.detailMeasurement.gaugedS
            )
              ? formService.calculateForPercent(
                  row.detailMeasurement.originalThickness,
                  row.detailMeasurement.gaugedS
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.detailMeasurement.originalThickness,
                  row.detailMeasurement.gaugedS
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.detailMeasurement.originalThickness,
                      convertToNumber(row.detailMeasurement.percent)
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.detailMeasurement.originalThickness,
                  row.detailMeasurement.gaugedS
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.detailMeasurement.originalThickness,
                    convertToNumber(row.detailMeasurement.percent)
                  )
                )
                ? '#0000FF'
                : '#FF3300',
            'background-color':
              formService.checkBeforeCalculate(
                row.detailMeasurement.originalThickness,
                row.detailMeasurement.gaugedS
              ) &&
              row.detailMeasurement.originalThickness !== '' &&
              convertToNumber(row.detailMeasurement.percent) !== 0
                ? convertToNumber(
                    formService.calculateForMm(
                      row.detailMeasurement.originalThickness,
                      row.detailMeasurement.gaugedS
                    )
                  ) >=
                    convertToNumber(
                      formService.threePartsFourOfMaxAlwbDim(
                        formService.calculateForMaxAlwbDim(
                          row.detailMeasurement.originalThickness,
                          convertToNumber(row.detailMeasurement.percent)
                        )
                      )
                    ) &&
                  convertToNumber(
                    formService.calculateForMm(
                      row.detailMeasurement.originalThickness,
                      row.detailMeasurement.gaugedS
                    )
                  ) <=
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.detailMeasurement.originalThickness,
                        convertToNumber(row.detailMeasurement.percent)
                      )
                    )
                  ? 'rgba(0,0,255,0.2)'
                  : convertToNumber(
                      formService.calculateForMm(
                        row.detailMeasurement.originalThickness,
                        row.detailMeasurement.gaugedS
                      )
                    ) >
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.detailMeasurement.originalThickness,
                        convertToNumber(row.detailMeasurement.percent)
                      )
                    )
                  ? 'rgba(255,0,0,0.2)'
                  : ''
                : ''
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.detailMeasurement.originalThickness,
              row.detailMeasurement.gaugedS
            ) &&
            row.detailMeasurement.originalThickness !== "" &&
            convertToNumber(row.detailMeasurement.percent) !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.detailMeasurement.originalThickness,
                    row.detailMeasurement.gaugedS
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.detailMeasurement.originalThickness,
                        convertToNumber(row.detailMeasurement.percent)
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.detailMeasurement.originalThickness,
                    row.detailMeasurement.gaugedS
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.detailMeasurement.originalThickness,
                      convertToNumber(row.detailMeasurement.percent)
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.detailMeasurement.originalThickness,
                      row.detailMeasurement.gaugedS
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.detailMeasurement.originalThickness,
                      convertToNumber(row.detailMeasurement.percent)
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <td></td>
        <td
          class="table-body-right"
          style="background-color: white"
          colSpan="2"
        >
          <nz-button-group>
            <button
              class="ant-btn-icon-only"
              nz-button
              nz-popconfirm
              nzPopconfirmTitle="Sure to clear?"
              (nzOnConfirm)="clearRow(i, j)"
            >
              <span nz-icon nzType="clear" nzTheme="outline"></span>
            </button>
            <button
              nz-button
              nz-popconfirm
              nzPopconfirmTitle="Sure to delete?"
              (nzOnConfirm)="deleteRow(i, j)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</section>
