<div class="header">
    <h2 class="title">
        Report on THICKNESS MEASUREMENT OF MISCELLANEOUS STRUCTURAL MEMBERS
    </h2>
    <div class="infor">
        <p>Ship's name<span>M/V "AFRICAN EAGLE"</span></p>
        <p>Class Identity No.<span>03112356</span></p>
        <p>Report No.<span>VMC.UTM.22.046/5255939</span></p>
    </div>
</div>

<nz-table nzBordered class="table" nzTemplateMode="">
    <thead>
        <tr class="th">
            <th colspan="3">STRUCTURAL MEMBERS :</th>           
            <th colspan="10">CROSS DECK</th>
            <th rowspan="2">SKETCH</th>
        </tr>
        <tr class="th">
            <th colspan="3">LOCATION OF STRUCTURE :</th>
            <th colspan="10">IN CARGO AREA</th>
        </tr>
        <tr class="th">
            <th rowspan="2" colspan="3">Description</th>
            <th class="inp" rowspan="2">Original Thickness (mm)</th>
            <th class="inp" rowspan="2">Maximum Allowable Dim. (mm)</th>
            <th class="inp" colspan="2">Gauged <span>mm</span></th>
            <th colspan="3">Diminution <span>P</span></th>
            <th colspan="3">Diminution <span>S</span></th>
            <th rowspan="100"></th>
        </tr>
        <tr class="th">
            <th>P</th>
            <th>S</th>
            <th>mm</th>
            <th colspan="2">%</th>
            <th>mm</th>
            <th colspan="2">%</th>
        </tr>
    </thead>
    <tbody>
        <tr class="tb">
            <td colspan="3">CROSS DECK BETWEEN F.P.T ~ NO.1 C/H</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td rowspan="1000"></td>
        </tr>
        <tr class="tb">
            <td colspan="3">CROSS DECK BETWEEN F.P.T ~ NO.1 C/H</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
        </tr>
        <tr class="tb">
            <td colspan="3">CROSS DECK BETWEEN F.P.T ~ NO.1 C/H</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
        </tr>
        <tr class="tb">
            <td colspan="3">CROSS DECK BETWEEN F.P.T ~ NO.1 C/H</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
        </tr>
        <tr class="tb">
            <td colspan="3">CROSS DECK BETWEEN F.P.T ~ NO.1 C/H</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
        </tr>
    </tbody>
</nz-table>
