<section>
  <h1>Create a new part</h1>
  <div class="inputBox">
    <form nz-form [formGroup]="selectForm">
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Part's Name</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input form!"
        >
          <input [(ngModel)]="item" formControlName="formName" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="">Form</nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input form!"
        >
          <nz-select
            nzMode="tags"
            [nzTokenSeparators]="[',']"
            nzPlaceHolder="Select form"
            formControlName="formSelect"
          >
            <nz-option nzLabel="FORM TM1" nzValue="FORM TM1"></nz-option>
            <nz-option nzLabel="FORM TM2(i)" nzValue="FORM TM2(i)"></nz-option>
            <nz-option
              nzLabel="FORM TM2(ii)"
              nzValue="FORM TM2(ii)"
            ></nz-option>
            <nz-option nzLabel="FORM TM3" nzValue="FORM TM3"></nz-option>
            <nz-option nzLabel="FORM TM4" nzValue="FORM TM4"></nz-option>
            <nz-option nzLabel="FORM TM5" nzValue="FORM TM5"></nz-option>
            <nz-option nzLabel="FORM TM6" nzValue="FORM TM6"></nz-option>
            <nz-option nzLabel="FORM TM7" nzValue="FORM TM7"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <a>
    <div class="btnBox">
      <button (click)="submit()" nz-button nzType="primary">
        <span
          style="color: white"
          nz-icon
          nzType="save"
          nzTheme="outline"
        ></span>
        <span style="color: white">Save and create</span>
      </button>
    </div>
  </a>
</section>
