section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBox {
  margin-top: 20px;
  width: 100%;
}
/* input {
  width: auto;
  width: 100%;
  font-weight: bold;
} */
hr {
  width: 100%;
}

span {
  color: blue;
}

.titleTable {
  background-color: var(--titleTablebackGround);
}
/* 
::ng-deep nz-date-picker .ng-valid {
  font-weight: bold;
}

::ng-deep nz-range-picker .ng-valid {
  font-weight: bold;
}

::ng-deep nz-select-item .ng-star-inserted {
  font-weight: bold;
}

::ng-deep nz-select {
  font-weight: bold;
}

::ng-deep nz-select .ng-star-inserted {
  font-weight: bold;
} */
