<section>
  <h1>GENERAL PARTICULARS</h1>
  <div class="formBox">
    <form [formGroup]="generalParticularsForm" nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Ship's name</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="shipName" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >IMO number</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="imoNumber" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >ABS identification number</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="absIdentificationNumber" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Port of registry</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="portOfRegistry" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Gross tons</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="grossTons" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Deadweight</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="deadweight" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Date of build</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-date-picker formControlName="dateOfBuild"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Classification society</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="classificationSociety" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <hr />
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor=""
          >Name of company performing thickness measurement</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <span>VIET NAM MARINE INDUSTRY AND SERVICE JOINT STOCK COMPANY</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Thickness measurement company certified by</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            formControlName="thicknessMeasurementCompanCertifiedBy"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Certificate No.</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="certificateNo" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Certificate valid from</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-range-picker
            formControlName="certificateValidFrom"
          ></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Place of measurement</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="placeOfMeasurement" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >First date of measurement</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-date-picker
            formControlName="firstDateOfMeasurement"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Last date of measurement</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-date-picker
            formControlName="lastDateOfMeasurement"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Special survey / Intermediate survey due</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="specialSurvey" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Details of measurement equipment</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            formControlName="detailsOfMeasurementEquipment"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Qualification of operator</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <span>SNT-TC-1A UT LEVEL 2</span>
        </nz-form-control>
      </nz-form-item>
      <hr />
      <nz-form-item style="margin: 0px">
        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor=""
          >Report Number</nz-form-label
        >
        <nz-form-control
          [nzSm]="7"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="reportNumber" nz-input id="" />
        </nz-form-control>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor=""
          >Consisting of</nz-form-label
        >
        <nz-form-control
          [nzSm]="1"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <span>{{ numberOfSheets }}</span>
        </nz-form-control>
        <nz-form-control
          [nzSm]="1"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <span style="color: black">Sheets</span>
        </nz-form-control>
      </nz-form-item>
      <hr />
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor=""
          >Name of operator</nz-form-label
        >
        <nz-form-control
          [nzSm]="6"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="nameOfOperator" nz-input id="" />
        </nz-form-control>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor=""
          >Name of surveyor</nz-form-label
        >
        <nz-form-control
          [nzSm]="6"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="nameOfSurveyor" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor=""
          >Signature of operator</nz-form-label
        >
        <nz-form-control
          [nzSm]="6"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="signatureOfOperator" nz-input id="" />
        </nz-form-control>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor=""
          >Signature of surveyor</nz-form-label
        >
        <nz-form-control
          [nzSm]="6"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="signatureOfSurveyor" nz-input id="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor=""
          >Company official stamp</nz-form-label
        >
        <nz-form-control
          [nzSm]="6"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input formControlName="companyOfficialStamp" nz-input id="" />
        </nz-form-control>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor=""
          >Classification Society official stamp</nz-form-label
        >
        <nz-form-control
          [nzSm]="6"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            formControlName="classificationSocietyOfficialStamp"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *ngIf="generalParticulars.length === 0; else updateBox"></div>
  <a routerLink="/selectForm">
    <button (click)="subMit()" nz-button nzType="primary">Submit</button></a
  >
  <ng-template #updateBox>
    <button (click)="update()" nz-button nzType="primary">Update</button>
  </ng-template>
</section>
