<section>
  <h1>GENERAL PARTICULARS</h1>
  <div class="formBox">
    <form [formGroup]="generalParticularsForm" nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Ship's name</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inShipName"
            formControlName="shipName"
            nz-input
            id=""
          />
        </nz-form-control>
        <button
          style="color: white; margin-left: 10px"
          nz-button
          [nzType]="'primary'"
          (click)="showModal()"
        >
          <span
            style="color: white"
            nz-icon
            nzType="file-search"
            nzTheme="outline"
          ></span>
          <span style="color: white">Search</span>
        </button>
        <nz-modal
          nzWidth="70%"
          [(nzVisible)]="isVisible"
          nzTitle="Result"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          nzOkDisabled="true"
          nzOkDisabled="true"
          nzFooter=" "
        >
          <ng-container *nzModalContent>
            <div
              *ngIf="
                shipname === null && IMONum === null && ABSNum === null;
                else tableBox
              "
            >
              <h1>No result</h1>
            </div>
            <ng-template #tableBox>
              <nz-table
                [nzScroll]="{ y: '300px' }"
                nzTemplateMode="true"
                #borderedTable
                nzBordered
              >
                <thead class="titleTable">
                  <tr class="titleTable">
                    <th class="titleTable" nzWidth="60px">No.</th>
                    <th class="titleTable">Ship's name</th>
                    <th class="titleTable" nzWidth="200px">IMO number</th>
                    <th class="titleTable" nzWidth="200px">
                      ABS identification number
                    </th>
                    <th class="titleTable" nzWidth="80px">Action</th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="
                    let ship of ships | shipFilter : shipname : IMONum : ABSNum;
                    let i = index
                  "
                >
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ ship.name }}</td>
                    <td>{{ ship.imoNumber }}</td>
                    <td>{{ ship.absIdentification }}</td>
                    <td>
                      <a
                        (nzOnConfirm)="addShip(ship)"
                        (nzOnCancel)="cancel()"
                        nz-popconfirm
                        nzPopconfirmTitle="Sure to add?"
                        >Add</a
                      >
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </ng-template>
          </ng-container>
        </nz-modal>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >IMO number</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-input-group nzSearch>
            <input
              [(ngModel)]="inIMO"
              formControlName="imoNumber"
              type="text"
              nz-input
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >ABS identification number</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inABS"
            formControlName="absIdentificationNumber"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Port of registry</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inPortOf"
            formControlName="portOfRegistry"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Gross tons</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inGrossTon"
            formControlName="grossTons"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Deadweight</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inDeadWeith"
            formControlName="deadweight"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Date of build</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-date-picker
            [(ngModel)]="inDateBuild"
            style="width: 100%; font-weight: bold"
            formControlName="dateOfBuild"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Classification society</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inClassi"
            formControlName="classificationSociety"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>

      <hr />
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor=""
          >Name of company performing thickness measurement</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <span style="color: black; font-weight: bold"
            >VIET NAM MARINE INDUSTRY AND SERVICE JOINT STOCK COMPANY</span
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Thickness measurement company certified by</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <!-- <input
            formControlName="thicknessMeasurementCompanCertifiedBy"
            nz-input
            id=""
          /> -->
          <nz-select
            [(ngModel)]="inCertificateName"
            (ngModelChange)="seclectChange()"
            formControlName="thicknessMeasurementCompanCertifiedBy"
            style="width: 100%"
          >
            <nz-option
              *ngFor="let certificate of certificates; let i = index"
              [nzLabel]="certificate.certificateOrganization"
              [nzValue]="certificate.certificateOrganization"
            ></nz-option>
          </nz-select>
          <!-- <nz-select
            nzMode="tags"
            [nzTokenSeparators]="[',']"
            nzPlaceHolder="Select form"
            formControlName="formSelect"
          >
            <nz-option
              *ngFor="let certificate of certificates"
              [nzLabel]="certificate.certificateOrganization"
              [nzValue]="certificate.certificateOrganization"
            ></nz-option>
          </nz-select> -->
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Certificate No.</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inCertificateNo"
            formControlName="certificateNo"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Certificate valid from</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-range-picker
            [(ngModel)]="inCertificateDate"
            style="width: 100%"
            formControlName="certificateValidFrom"
          ></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Place of measurement</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inPlaceOf"
            formControlName="placeOfMeasurement"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >First date of measurement</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-date-picker
            [(ngModel)]="inFirstDate"
            style="width: 100%"
            formControlName="firstDateOfMeasurement"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Last date of measurement</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-date-picker
            [(ngModel)]="inLastDate"
            style="width: 100%"
            formControlName="lastDateOfMeasurement"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Special survey / Intermediate survey due</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inSpecial"
            formControlName="specialSurvey"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="mainData.editMode === true">
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Details of measurement equipment</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inDetailOf"
            formControlName="detailsOfMeasurementEquipment"
            nz-input
            id=""
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="mainData.editMode === false">
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Details of measurement equipment</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <nz-select
            formControlName="detailsOfMeasurementEquipment"
            nzMode="tags"
            [nzTokenSeparators]="[',']"
            nzPlaceHolder="Select"
          >
            <nz-option
              nzLabel="T-GAGE V (Serri 05058879)"
              nzValue="T-GAGE V (Serri 05058879)"
            ></nz-option>
            <nz-option
              nzLabel="OLYMPUS 27MG (Serri 150239211)"
              nzValue="OLYMPUS 27MG (Serri 150239211)"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor=""
          >Qualification of operator</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <span>SNT-TC-1A UT LEVEL 2</span>
        </nz-form-control>
      </nz-form-item>
      <hr />
      <nz-form-item style="margin: 0px">
        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor=""
          >Report Number</nz-form-label
        >
        <nz-form-control
          [nzSm]="7"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            [(ngModel)]="inReport"
            formControlName="reportNumber"
            nz-input
            id=""
          />
        </nz-form-control>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor=""
          >Consisting of</nz-form-label
        >
        <nz-form-control
          [nzSm]="1"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <span>{{ numberOfSheets }}</span>
        </nz-form-control>
        <nz-form-control
          [nzSm]="1"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <span>Sheets</span>
        </nz-form-control>
      </nz-form-item>
      <hr />
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor=""
          >Name of operator</nz-form-label
        >
        <nz-form-control
          [nzSm]="6"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            *ngIf="mainData.editMode === true"
            [(ngModel)]="inOperatorName"
            formControlName="nameOfOperator"
            nz-input
            id=""
          />
          <nz-select
            *ngIf="mainData.editMode === false"
            [(ngModel)]="inOperatorName"
            formControlName="nameOfOperator"
            style="width: 100%"
          >
            <nz-option
              nzLabel="Nguyen Van Luyen"
              nzValue="Nguyen Van Luyen"
            ></nz-option>
            <nz-option
              nzLabel="Nguyen Thanh An"
              nzValue="Nguyen Thanh An"
            ></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor=""
          >Name of surveyor</nz-form-label
        >
        <nz-form-control
          [nzSm]="6"
          [nzXs]="24"
          nzErrorTip="Please input website!"
        >
          <input
            *ngIf="mainData.editMode === true"
            [(ngModel)]="inSuveyor"
            formControlName="nameOfSurveyor"
            nz-input
            id=""
          />
          <nz-select
            *ngIf="mainData.editMode === false"
            [(ngModel)]="inSuveyor"
            formControlName="nameOfSurveyor"
            style="width: 100%"
          >
            <nz-option
              nzLabel="Nguyen Van Luyen"
              nzValue="Nguyen Van Luyen"
            ></nz-option>
            <nz-option
              nzLabel="Nguyen Thanh An"
              nzValue="Nguyen Thanh An"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *ngIf="mainData.editMode === false; else updateBox">
    <a routerLink="{{ link }}">
      <button (click)="subMit()" nz-button nzType="primary">
        <span
          style="color: white"
          nz-icon
          nzType="save"
          nzTheme="outline"
        ></span>
        <span style="color: white">Save and continue</span>
      </button></a
    >
  </div>
  <ng-template #updateBox>
    <button (click)="update()" nz-button nzType="primary">
      <span
        style="color: white"
        nz-icon
        nzType="delivered-procedure"
        nzTheme="outline"
      ></span>
      <span style="color: white">Update</span>
    </button>
  </ng-template>
</section>
