<section>
  <div class="header">
    <h1 class="title">
      Report on THICKNESS MEASUREMENT OF SHELL AND DECK PLATING (one, two or
      three transverse sections)
    </h1>
    <div class="infor">
      <p>Ship's name<span>M/V "AFRICAN EAGLE"</span></p>
      <p>Class Identity No.<span>03112356</span></p>
      <p>Report No.<span>VMC.UTM.22.046/5255939</span></p>
    </div>
  </div>
  <!-- Start tool bar -->
  <div class="toolBar">
    <nz-input-group nzAddOnAfter="%">
      <nz-select nzPlaceHolder="Choose percent" [(ngModel)]="percentSelected">
        <nz-option
          *ngFor="let option of listPercentOption"
          nzLabel="{{ option.label }}"
          nzValue="{{ option.value }}"
        ></nz-option>
      </nz-select>
    </nz-input-group>

    <button class="btn-add-row" nz-button (click)="showModal()">
      <span nz-icon nzType="file-add" nzTheme="outline"></span> Add row
    </button>
    <nz-modal
      [nzStyle]="{ top: '20%' }"
      [(nzVisible)]="isVisible"
      nzTitle="Enter number of rows"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      nzWidth="300px"
    >
      <div *nzModalContent>
        <input
          class="input-row-value"
          nz-input
          type="number"
          min="0"
          max="100"
          [(ngModel)]="addRowValue"
          pattern="^(?:[1-9]|[1-9][0-9]|100)$"
        />
      </div>
    </nz-modal>

    <button
      nz-button
      nzType="primary"
      (click)="onSaveForm()"
      [nzLoading]="isLoadingSaveButton"
    >
      <span nz-icon nzType="save" nzTheme="outline"></span>Save
    </button>
  </div>
  <!-- End tool bar -->

  <!-- Start table -->
  <nz-table
    cdkDropList
    [cdkDropListData]="listRow"
    (cdkDropListDropped)="onDrop($event)"
    [nzScroll]="{ x: '3000px', y: '480px' }"
    [nzPageSize]="5"
    nzBordered
    nzSize="small"
  >
    <!-- Start table header -->
    <thead>
      <tr class="th">
        <th rowspan="4" nzLeft>No.</th>
        <th colspan="36">STRENGTH DECK AND SHEER STRAKE PLATING</th>
        <th class="table-header-right" rowspan="4" colspan="2">Action</th>
      </tr>
      <tr class="th">
        <th colspan="3"></th>
        <th colspan="11">
          1st TRANSVERSE SECTION <br />at Fr.No.:
          <input
            class="input-frame-no"
            type="number"
            nz-input
            [(ngModel)]="firstTransverseSectionFrom"
          />
          ~
          <input
            class="input-frame-no"
            type="number"
            nz-input
            [(ngModel)]="firstTransverseSectionTo"
          />
        </th>
        <th colspan="11">
          2nd TRANSVERSE SECTION <br />at Fr.No.:
          <input
            class="input-frame-no"
            type="number"
            nz-input
            [(ngModel)]="secondTransverseSectionFrom"
          />
          ~
          <input
            class="input-frame-no"
            type="number"
            nz-input
            [(ngModel)]="secondTransverseSectionTo"
          />
        </th>
        <th colspan="11">
          3rd TRANSVERSE SECTION <br />at Fr.No.:
          <input
            class="input-frame-no"
            type="number"
            nz-input
            [(ngModel)]="thirdTransverseSectionFrom"
          />
          ~
          <input
            class="input-frame-no"
            type="number"
            nz-input
            [(ngModel)]="thirdTransverseSectionTo"
          />
        </th>
      </tr>
      <tr class="th">
        <th rowspan="2" colspan="3">STRAKE POSITION</th>
        <th rowspan="2">No. or Letter</th>
        <th rowspan="2">Original Thickness (mm)</th>
        <th rowSpan="2">Max Alwb Dim</th>
        <th colspan="2">Gauged mm</th>
        <th colspan="3">Diminution P</th>
        <th colspan="3">Diminution S</th>
        <th rowspan="2">No. or Letter</th>
        <th rowspan="2">Original Thickness (mm)</th>
        <th rowSpan="2">Max Alwb Dim</th>
        <th colspan="2">Gauged mm</th>
        <th colspan="3">Diminution P</th>
        <th colspan="3">Diminution S</th>
        <th rowspan="2">No. or Letter</th>
        <th rowspan="2">Original Thickness (mm)</th>
        <th rowSpan="2">Max Alwb Dim</th>
        <th colspan="2">Gauged mm</th>
        <th colspan="3">Diminution P</th>
        <th colspan="3">Diminution S</th>
      </tr>

      <tr class="th">
        <th>P</th>
        <th>S</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>P</th>
        <th>S</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>P</th>
        <th>S</th>
        <th>mm</th>
        <th colspan="2">%</th>
        <th>mm</th>
        <th colspan="2">%</th>
      </tr>
    </thead>
    <!-- End table header -->

    <!-- Start table body -->
    <tbody>
      <tr
        *ngFor="let row of listRow; index as index"
        class="tb"
        cdkDragLockAxis="y"
        cdkDragBoundary="table"
        (cdkDragEnded)="onDragEnded($event)"
        cdkDrag
        [cdkDragDisabled]="selectedRow.includes(index) === false"
        [style.background]="
          selectedRow.includes(index) ? '#FFE6C1 !important' : ''
        "
      >
        <td
          class="table-body-left"
          style="background-color: white"
          (click)="selectRow(index)"
        >
          {{ index + 1 }}
        </td>
        <td colSpan="3">
          <input nz-input type="text" [(ngModel)]="row.strakePosition" />
        </td>
        <!-- Start transverse first section -->
        <td><input nz-input type="text" [(ngModel)]="row.noOrLetter" /></td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="
              row.firstTransverseSectionMeasurementDetailTM2.originalThickness
            "
          />
        </td>
        <td>
          {{
            row.firstTransverseSectionMeasurementDetailTM2.originalThickness !==
              "" && percentSelected !== 0
              ? formService.calculateForMaxAlwbDim(
                  row.firstTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  percentSelected
                )
              : ""
          }}
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.firstTransverseSectionMeasurementDetailTM2.gaugedP"
          />
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.firstTransverseSectionMeasurementDetailTM2.gaugedS"
          />
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetailTM2.originalThickness,
              row.firstTransverseSectionMeasurementDetailTM2.gaugedP
            )
              ? formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetailTM2.originalThickness,
              row.firstTransverseSectionMeasurementDetailTM2.gaugedP
            )
              ? formService.calculateForPercent(
                  row.firstTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.firstTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300',
            'background-color':
              formService.checkBeforeCalculate(
                row.firstTransverseSectionMeasurementDetailTM2
                  .originalThickness,
                row.firstTransverseSectionMeasurementDetailTM2.gaugedP
              ) &&
              row.firstTransverseSectionMeasurementDetailTM2
                .originalThickness !== '' &&
              percentSelected !== 0
                ? convertToNumber(
                    formService.calculateForMm(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                    )
                  ) >=
                    convertToNumber(
                      formService.threePartsFourOfMaxAlwbDim(
                        formService.calculateForMaxAlwbDim(
                          row.firstTransverseSectionMeasurementDetailTM2
                            .originalThickness,
                          percentSelected
                        )
                      )
                    ) &&
                  convertToNumber(
                    formService.calculateForMm(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                    )
                  ) <=
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.firstTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(0,0,255,0.2)'
                  : convertToNumber(
                      formService.calculateForMm(
                        row.firstTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                      )
                    ) >
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.firstTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(255,0,0,0.1)'
                  : ''
                : ''
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetailTM2.originalThickness,
              row.firstTransverseSectionMeasurementDetailTM2.gaugedP
            ) &&
            row.firstTransverseSectionMeasurementDetailTM2.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.firstTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.firstTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.firstTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.firstTransverseSectionMeasurementDetailTM2.gaugedP
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetailTM2.originalThickness,
              row.firstTransverseSectionMeasurementDetailTM2.gaugedS
            )
              ? formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetailTM2.originalThickness,
              row.firstTransverseSectionMeasurementDetailTM2.gaugedS
            )
              ? formService.calculateForPercent(
                  row.firstTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.firstTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.firstTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300',
            'background-color':
              formService.checkBeforeCalculate(
                row.firstTransverseSectionMeasurementDetailTM2
                  .originalThickness,
                row.firstTransverseSectionMeasurementDetailTM2.gaugedS
              ) &&
              row.firstTransverseSectionMeasurementDetailTM2
                .originalThickness !== '' &&
              percentSelected !== 0
                ? convertToNumber(
                    formService.calculateForMm(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                    )
                  ) >=
                    convertToNumber(
                      formService.threePartsFourOfMaxAlwbDim(
                        formService.calculateForMaxAlwbDim(
                          row.firstTransverseSectionMeasurementDetailTM2
                            .originalThickness,
                          percentSelected
                        )
                      )
                    ) &&
                  convertToNumber(
                    formService.calculateForMm(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                    )
                  ) <=
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.firstTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(0,0,255,0.2)'
                  : convertToNumber(
                      formService.calculateForMm(
                        row.firstTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                      )
                    ) >
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.firstTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(255,0,0,0.1)'
                  : ''
                : ''
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.firstTransverseSectionMeasurementDetailTM2.originalThickness,
              row.firstTransverseSectionMeasurementDetailTM2.gaugedS
            ) &&
            row.firstTransverseSectionMeasurementDetailTM2.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.firstTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.firstTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.firstTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.firstTransverseSectionMeasurementDetailTM2.gaugedS
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.firstTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <!-- End transverse first section -->

        <!-- Start transverse second section -->
        <td><input nz-input type="text" (ngModel)="(row.noOrLetter)" /></td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="
              row.secondTransverseSectionMeasurementDetailTM2.originalThickness
            "
          />
        </td>
        <td>
          {{
            row.secondTransverseSectionMeasurementDetailTM2
              .originalThickness !== "" && percentSelected !== 0
              ? formService.calculateForMaxAlwbDim(
                  row.secondTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  percentSelected
                )
              : ""
          }}
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="
              row.secondTransverseSectionMeasurementDetailTM2.gaugedP
            "
          />
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="
              row.secondTransverseSectionMeasurementDetailTM2.gaugedS
            "
          />
        </td>

        <td>
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetailTM2.originalThickness,
              row.secondTransverseSectionMeasurementDetailTM2.gaugedP
            )
              ? formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetailTM2.originalThickness,
              row.secondTransverseSectionMeasurementDetailTM2.gaugedP
            )
              ? formService.calculateForPercent(
                  row.secondTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.secondTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300',
            'background-color':
              formService.checkBeforeCalculate(
                row.secondTransverseSectionMeasurementDetailTM2
                  .originalThickness,
                row.secondTransverseSectionMeasurementDetailTM2.gaugedP
              ) &&
              row.secondTransverseSectionMeasurementDetailTM2
                .originalThickness !== '' &&
              percentSelected !== 0
                ? convertToNumber(
                    formService.calculateForMm(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                    )
                  ) >=
                    convertToNumber(
                      formService.threePartsFourOfMaxAlwbDim(
                        formService.calculateForMaxAlwbDim(
                          row.secondTransverseSectionMeasurementDetailTM2
                            .originalThickness,
                          percentSelected
                        )
                      )
                    ) &&
                  convertToNumber(
                    formService.calculateForMm(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                    )
                  ) <=
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.secondTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(0,0,255,0.2)'
                  : convertToNumber(
                      formService.calculateForMm(
                        row.secondTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                      )
                    ) >
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.secondTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(255,0,0,0.1)'
                  : ''
                : ''
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetailTM2.originalThickness,
              row.secondTransverseSectionMeasurementDetailTM2.gaugedP
            ) &&
            row.secondTransverseSectionMeasurementDetailTM2
              .originalThickness !== "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.secondTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.secondTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.secondTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.secondTransverseSectionMeasurementDetailTM2.gaugedP
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetailTM2.originalThickness,
              row.secondTransverseSectionMeasurementDetailTM2.gaugedS
            )
              ? formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetailTM2.originalThickness,
              row.secondTransverseSectionMeasurementDetailTM2.gaugedS
            )
              ? formService.calculateForPercent(
                  row.secondTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.secondTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.secondTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300',
            'background-color':
              formService.checkBeforeCalculate(
                row.secondTransverseSectionMeasurementDetailTM2
                  .originalThickness,
                row.secondTransverseSectionMeasurementDetailTM2.gaugedS
              ) &&
              row.secondTransverseSectionMeasurementDetailTM2
                .originalThickness !== '' &&
              percentSelected !== 0
                ? convertToNumber(
                    formService.calculateForMm(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                    )
                  ) >=
                    convertToNumber(
                      formService.threePartsFourOfMaxAlwbDim(
                        formService.calculateForMaxAlwbDim(
                          row.secondTransverseSectionMeasurementDetailTM2
                            .originalThickness,
                          percentSelected
                        )
                      )
                    ) &&
                  convertToNumber(
                    formService.calculateForMm(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                    )
                  ) <=
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.secondTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(0,0,255,0.2)'
                  : convertToNumber(
                      formService.calculateForMm(
                        row.secondTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                      )
                    ) >
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.secondTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(255,0,0,0.1)'
                  : ''
                : ''
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.secondTransverseSectionMeasurementDetailTM2.originalThickness,
              row.secondTransverseSectionMeasurementDetailTM2.gaugedS
            ) &&
            row.secondTransverseSectionMeasurementDetailTM2
              .originalThickness !== "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.secondTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.secondTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.secondTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.secondTransverseSectionMeasurementDetailTM2.gaugedS
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.secondTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <!-- End transverse second section -->

        <!-- Start transverse third section -->
        <td><input nz-input type="text" (ngModel)="(row.noOrLetter)" /></td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="
              row.thirdTransverseSectionMeasurementDetailTM2.originalThickness
            "
          />
        </td>
        <td>
          {{
            row.thirdTransverseSectionMeasurementDetailTM2.originalThickness !==
              "" && percentSelected !== 0
              ? formService.calculateForMaxAlwbDim(
                  row.thirdTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  percentSelected
                )
              : ""
          }}
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.thirdTransverseSectionMeasurementDetailTM2.gaugedP"
          />
        </td>
        <td>
          <input
            nz-input
            type="number"
            min="0"
            [(ngModel)]="row.thirdTransverseSectionMeasurementDetailTM2.gaugedS"
          />
        </td>

        <td>
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetailTM2.originalThickness,
              row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
            )
              ? formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetailTM2.originalThickness,
              row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
            )
              ? formService.calculateForPercent(
                  row.thirdTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.thirdTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300',
            'background-color':
              formService.checkBeforeCalculate(
                row.thirdTransverseSectionMeasurementDetailTM2
                  .originalThickness,
                row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
              ) &&
              row.thirdTransverseSectionMeasurementDetailTM2
                .originalThickness !== '' &&
              percentSelected !== 0
                ? convertToNumber(
                    formService.calculateForMm(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                    )
                  ) >=
                    convertToNumber(
                      formService.threePartsFourOfMaxAlwbDim(
                        formService.calculateForMaxAlwbDim(
                          row.thirdTransverseSectionMeasurementDetailTM2
                            .originalThickness,
                          percentSelected
                        )
                      )
                    ) &&
                  convertToNumber(
                    formService.calculateForMm(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                    )
                  ) <=
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.thirdTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(0,0,255,0.2)'
                  : convertToNumber(
                      formService.calculateForMm(
                        row.thirdTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                      )
                    ) >
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.thirdTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(255,0,0,0.1)'
                  : ''
                : ''
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetailTM2.originalThickness,
              row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
            ) &&
            row.thirdTransverseSectionMeasurementDetailTM2.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.thirdTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.thirdTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.thirdTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.thirdTransverseSectionMeasurementDetailTM2.gaugedP
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetailTM2.originalThickness,
              row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
            )
              ? formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                )
              : ""
          }}
        </td>
        <td>
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetailTM2.originalThickness,
              row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
            )
              ? formService.calculateForPercent(
                  row.thirdTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                )
              : ""
          }}
        </td>
        <td
          [ngStyle]="{
            color:
              convertToNumber(
                formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                )
              ) >=
                convertToNumber(
                  formService.threePartsFourOfMaxAlwbDim(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ) &&
              convertToNumber(
                formService.calculateForMm(
                  row.thirdTransverseSectionMeasurementDetailTM2
                    .originalThickness,
                  row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                )
              ) <=
                convertToNumber(
                  formService.calculateForMaxAlwbDim(
                    row.thirdTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    percentSelected
                  )
                )
                ? '#0000FF'
                : '#FF3300',
            'background-color':
              formService.checkBeforeCalculate(
                row.thirdTransverseSectionMeasurementDetailTM2
                  .originalThickness,
                row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
              ) &&
              row.thirdTransverseSectionMeasurementDetailTM2
                .originalThickness !== '' &&
              percentSelected !== 0
                ? convertToNumber(
                    formService.calculateForMm(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                    )
                  ) >=
                    convertToNumber(
                      formService.threePartsFourOfMaxAlwbDim(
                        formService.calculateForMaxAlwbDim(
                          row.thirdTransverseSectionMeasurementDetailTM2
                            .originalThickness,
                          percentSelected
                        )
                      )
                    ) &&
                  convertToNumber(
                    formService.calculateForMm(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                    )
                  ) <=
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.thirdTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(0,0,255,0.2)'
                  : convertToNumber(
                      formService.calculateForMm(
                        row.thirdTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                      )
                    ) >
                    convertToNumber(
                      formService.calculateForMaxAlwbDim(
                        row.thirdTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ? 'rgba(255,0,0,0.1)'
                  : ''
                : ''
          }"
          style="font-weight: 600; font-size: 18px"
        >
          {{
            formService.checkBeforeCalculate(
              row.thirdTransverseSectionMeasurementDetailTM2.originalThickness,
              row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
            ) &&
            row.thirdTransverseSectionMeasurementDetailTM2.originalThickness !==
              "" &&
            percentSelected !== 0
              ? convertToNumber(
                  formService.calculateForMm(
                    row.thirdTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                  )
                ) >=
                  convertToNumber(
                    formService.threePartsFourOfMaxAlwbDim(
                      formService.calculateForMaxAlwbDim(
                        row.thirdTransverseSectionMeasurementDetailTM2
                          .originalThickness,
                        percentSelected
                      )
                    )
                  ) &&
                convertToNumber(
                  formService.calculateForMm(
                    row.thirdTransverseSectionMeasurementDetailTM2
                      .originalThickness,
                    row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                  )
                ) <=
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "S"
                : convertToNumber(
                    formService.calculateForMm(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      row.thirdTransverseSectionMeasurementDetailTM2.gaugedS
                    )
                  ) >
                  convertToNumber(
                    formService.calculateForMaxAlwbDim(
                      row.thirdTransverseSectionMeasurementDetailTM2
                        .originalThickness,
                      percentSelected
                    )
                  )
                ? "R"
                : ""
              : ""
          }}
        </td>
        <!-- End transverse third section -->
        <td
          class="table-body-right"
          style="background-color: white"
          colSpan="2"
        >
          <nz-button-group>
            <button
              class="ant-btn-icon-only"
              nz-button
              (click)="clearRow(index)"
            >
              <span nz-icon nzType="clear" nzTheme="outline"></span>
            </button>
            <button nz-button (click)="deleteRow(index)">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
    <!-- End table body -->
  </nz-table>
  <!-- End table -->
</section>
