<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Register Shipping</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Biểu mẫu" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="generalParticulars">General Particulars</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="accountManagement">Account management</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="login">Log in</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form nhập liệu" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tm1">TM1</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tm2">TM2</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tm3">TM3</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tm4">TM4</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tm5">TM5</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tm6">TM6</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="tm7">TM7</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="selectForm"
              ><span nz-icon nzType="plus" nzTheme="outline"> </span> Add new
              part</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
        </span>
        <button class="btnLogout" nz-button nzType="primary">
          <span nz-icon nzType="logout" nzTheme="outline"></span> Log out
        </button>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>© Copyright Facenet. All Rights Reserved</nz-footer>
  </nz-layout>
</nz-layout>
