<div class="LoginForm" *ngIf="inLogIn.Islogin === true; else mainLayout">
  <app-login (out)="logIn($event)"></app-login>
</div>

<ng-template #mainLayout>
  <nz-layout class="app-layout">
    <div class="overlay" *ngIf="formService.isLoadingData">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <div class="overlay" *ngIf="mainData.loading">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <div class="sidebar-logo">
        <a routerLink="generalParticulars">
          <img
            style="width: 50px; height: 50px"
            src="../assets/logo.png"
            alt="logo"
          />
          <!-- <div class="imgLogo"></div> -->
          <h1 style="font-size: 25px">Vimisco</h1>
        </a>
      </div>
      <ul
        nz-menu
        nzTheme="dark"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType="form" nzTheme="outline"></span>
          <span>General Particulars</span>
          <a routerLink="generalParticulars"></a>
        </li>
        <li
          *ngIf="mainData.editMode === true && parts.length > 0"
          nz-menu-item
          nzMatchRouter
        >
          <a routerLink="index"
            ><span nz-icon nzType="unordered-list" nzTheme="outline"></span>
            <span>Index</span></a
          >
        </li>
        <li
          *ngFor="let part of parts; let i = index"
          nz-submenu
          nzOpen
          nzTitle="{{ part.partName }}"
          nzIcon="folder-open"
        >
          <ul>
            <li
              *ngFor="let form of part.forms; let j = index"
              nz-menu-item
              nzMatchRouter
            >
              <span nz-icon nzType="file-text" nzTheme="outline"></span>
              <span>
                <a (click)="link(part.id, form.type, form.formID)">{{
                  form.name
                }}</a>
              </span>
            </li>
            <li nz-menu-item nzMatchRouter>
              <span nz-icon nzType="file-add" nzTheme="outline"></span>
              <a
                style="background-color: transparent; border: none"
                nz-button
                nzType="primary"
                nz-popover
                nzPopoverTitle="Select form"
                [(nzPopoverVisible)]="part.visible"
                (nzPopoverVisibleChange)="change($event)"
                nzPopoverTrigger="click"
                [nzPopoverContent]="contentTemplate"
              >
                Add new form
              </a>
              <ng-template #contentTemplate>
                <div>
                  <div style="width: 100%">
                    <a (click)="addForm(i, 'TM1')" nz-popconfirm>FORM TM1</a
                    ><nz-divider nzType="vertical"></nz-divider>
                    <a (click)="addForm(i, 'TM2(I)')" nz-popconfirm
                      >FORM TM2(I)</a
                    >
                    <br />
                    <a (click)="addForm(i, 'TM2(II)')" nz-popconfirm
                      >FORM TM2(II)</a
                    ><nz-divider nzType="vertical"></nz-divider>
                    <a (click)="addForm(i, 'TM3')" nz-popconfirm>FORM TM3</a>
                    <br />
                    <a (click)="addForm(i, 'TM4')" nz-popconfirm>FORM TM4</a
                    ><nz-divider nzType="vertical"></nz-divider>
                    <a (click)="addForm(i, 'TM5')" nz-popconfirm>FORM TM5</a>
                    <br />
                    <a (click)="addForm(i, 'TM6')" nz-popconfirm>FORM TM6</a
                    ><nz-divider nzType="vertical"></nz-divider>
                    <a (click)="addForm(i, 'TM7')" nz-popconfirm>FORM TM7</a>
                  </div>
                  <hr />
                  <a (click)="clickMe(i)">Close</a>
                </div>
              </ng-template>
            </li>

            <li nz-menu-item nzMatchRouter>
              <span nz-icon nzType="delete" nzTheme="outline"></span>
              <span
                ><a
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  (nzOnConfirm)="deletePart(part.id)"
                  (nzOnCancel)="cancel()"
                  >Delete part</a
                ></span
              >
            </li>
          </ul>
        </li>
        <li *ngIf="mainData.editMode === true" nz-menu-item nzMatchRouter>
          <a routerLink="selectForm"
            ><span nz-icon nzType="folder-add" nzTheme="outline"></span>
            <span>Add new part</span></a
          >
        </li>

        <li nz-menu-item nzMatchRouter>
          <a routerLink="review"
            ><span nz-icon nzType="folder-view" nzTheme="outline"></span
            ><span>Review</span></a
          >
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="managing-default-values"
            ><span nz-icon nzType="pic-center" nzTheme="outline"></span>
            <span>Managing default values</span></a
          >
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="history"
            ><span nz-icon nzType="history" nzTheme="outline"></span
            ><span>History</span></a
          >
        </li>
        <li nz-menu-item nzMatchRouter>
          <a
            nz-popover
            nzPopoverTitle="Sure to export"
            [(nzPopoverVisible)]="exportVisible"
            (nzPopoverVisibleChange)="change($event)"
            nzPopoverTrigger="click"
            [nzPopoverContent]="exportTemplate"
            ><span nz-icon nzType="export" nzTheme="outline"></span>
            <span>Export to pdf</span></a
          >
        </li>
        <ng-template #exportTemplate>
          Surveyor's signature?
          <input type="checkbox" />
          <br />
          <br />
          <button (click)="closeExport()" nz-button nzType="default">
            Cancel
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="primary">Ok</button>
        </ng-template>
        <li nz-menu-item nzMatchRouter>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Sure to reset?"
            (nzOnConfirm)="reset()"
            (nzOnCancel)="cancel()"
            ><span nz-icon nzType="retweet" nzTheme="outline"></span
            ><span>Reset</span></a
          >
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
          </span>
          <a
            nz-popover
            [(nzPopoverVisible)]="logOutVisible"
            (nzPopoverVisibleChange)="changelogOut($event)"
            nzPopoverTrigger="click"
            [nzPopoverContent]="contentAccount"
            class="btnLogout"
          >
            <div class="accImg"></div>
            {{ inLogIn.nameUser }}
          </a>
          <ng-template #contentAccount>
            <div style="min-width: 130px">
              <a
                nz-popover
                [(nzPopoverVisible)]="changePassVisible"
                (nzPopoverVisibleChange)="changelogOut($event)"
                nzPopoverTrigger="click"
                [nzPopoverContent]="changePass"
                >Change password</a
              >
              <br />
              <hr />
              <a (click)="logOut()">Log out</a>
            </div>
            <!-- <a (click)="accLose()">Close</a> -->
          </ng-template>
          <ng-template #changePass>
            <input
              [(ngModel)]="oldPassword"
              nz-input
              placeholder="Old password"
              type="password"
            />
            <br />
            <input
              [(ngModel)]="newPassword"
              style="margin-top: 5px"
              nz-input
              placeholder="New password"
              type="password"
            />
            <hr />
            <a (click)="changeClose()">Close</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-popconfirm
              nzPopconfirmTitle="Sure to change?"
              (nzOnConfirm)="changePassword()"
              (nzOnCancel)="cancel()"
              >Change</a
            >
          </ng-template>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>© Copyright FaceNet. All Rights Reserved</nz-footer>
    </nz-layout>
  </nz-layout>
</ng-template>
