<div class="LoginForm" *ngIf="Islogin === true; else mainLayout">
  <app-login (out)="logIn($event)"></app-login>
</div>

<ng-template #mainLayout>
  <nz-layout class="app-layout">
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <div class="sidebar-logo">
        <a routerLink="generalParticulars">
          <img src="vinisco.jpg" alt="logo" />
          <!-- <div class="imgLogo"></div> -->
          <h1>Vimisco</h1>
        </a>
      </div>
      <ul
        nz-menu
        nzTheme="dark"
        nzMode="inline"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType="form" nzTheme="outline"></span>
          <span>General Particulars</span>
          <a routerLink="generalParticulars"></a>
        </li>
        <!-- *ngIf="parts.length > 0" -->
        <li
          *ngIf="mainData.editMode === true && parts.length > 0"
          nz-menu-item
          nzMatchRouter
        >
          <a routerLink="index"
            ><span nz-icon nzType="unordered-list" nzTheme="outline"></span>
            <span>Index</span></a
          >
        </li>
        <li
          *ngFor="let part of parts; let i = index"
          nz-submenu
          nzOpen
          nzTitle="{{ part.partName }}"
          nzIcon="folder"
        >
          <ul>
            <li
              *ngFor="let form of part.forms; let j = index"
              nz-menu-item
              nzMatchRouter
            >
              <span nz-icon nzType="file-text" nzTheme="outline"></span>
              <span
                ><a routerLink="{{ form }}">{{ form }}</a>
              </span>

              <button
                style="
                  margin-left: 50px;
                  background-color: transparent;
                  border: none;
                "
                nz-popconfirm
                nzPopconfirmTitle="Sure to delete?"
                (nzOnConfirm)="deleteTm(i, j)"
                (nzOnCancel)="cancel()"
                nzPopconfirmPlacement="top"
                nz-button
              >
                <span
                  style="color: white"
                  nz-icon
                  nzType="delete"
                  nzTheme="outline"
                >
                </span>
              </button>
            </li>
            <li nz-menu-item nzMatchRouter>
              <span nz-icon nzType="file-add" nzTheme="outline"></span>
              <a
                style="background-color: transparent; border: none"
                nz-button
                nzType="primary"
                nz-popover
                nzPopoverTitle="Select form"
                [(nzPopoverVisible)]="part.visible"
                (nzPopoverVisibleChange)="change($event)"
                nzPopoverTrigger="click"
                [nzPopoverContent]="contentTemplate"
              >
                Add new form
              </a>
              <ng-template #contentTemplate>
                <div>
                  <div style="width: 100%">
                    <nz-select
                      style="width: 100%"
                      nzMode="tags"
                      [nzTokenSeparators]="[',']"
                      nzPlaceHolder="Select form"
                      [(ngModel)]="formSelect"
                    >
                      <nz-option nzLabel="Tm1" nzValue="Tm1"></nz-option>
                      <nz-option nzLabel="Tm2" nzValue="Tm2"></nz-option>
                      <nz-option nzLabel="Tm3" nzValue="Tm3"></nz-option>
                      <nz-option nzLabel="Tm4" nzValue="Tm4"></nz-option>
                      <nz-option nzLabel="Tm5" nzValue="Tm5"></nz-option>
                      <nz-option nzLabel="Tm6" nzValue="Tm6"></nz-option>
                      <nz-option nzLabel="Tm7" nzValue="Tm7"></nz-option>
                    </nz-select>
                  </div>
                  <a (click)="addForm(i)" nz-popconfirm> Add</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a (click)="clickMe(i)">Close</a>
                </div>
              </ng-template>
            </li>

            <li nz-menu-item nzMatchRouter>
              <span nz-icon nzType="delete" nzTheme="outline"></span>
              <span
                ><a
                  nz-popconfirm
                  nzPopconfirmTitle="Sure to delete?"
                  (nzOnConfirm)="deletePart(i)"
                  (nzOnCancel)="cancel()"
                  >Delete part</a
                ></span
              >
            </li>
          </ul>
        </li>
        <!-- *ngIf="mainData.editMode === true" -->
        <li *ngIf="mainData.editMode === true" nz-menu-item nzMatchRouter>
          <a routerLink="selectForm"
            ><span nz-icon nzType="folder-add" nzTheme="outline"></span>
            <span>Add new part</span></a
          >
        </li>

        <li nz-menu-item nzMatchRouter>
          <a routerLink="review"
            ><span nz-icon nzType="folder-view" nzTheme="outline"></span
            ><span>Review</span></a
          >
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="managing-default-values"
            ><span nz-icon nzType="pic-center" nzTheme="outline"></span>
            <span>Managing default values</span></a
          >
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="history"
            ><span nz-icon nzType="history" nzTheme="outline"></span
            ><span>History</span></a
          >
        </li>
        <li nz-menu-item nzMatchRouter>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Sure to reset?"
            (nzOnConfirm)="reset()"
            (nzOnCancel)="cancel()"
            ><span nz-icon nzType="retweet" nzTheme="outline"></span
            ><span>Reset</span></a
          >
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
          </span>
          <button
            (click)="logOut()"
            class="btnLogout"
            nz-button
            nzType="primary"
          >
            <span nz-icon nzType="logout" nzTheme="outline"></span> Log out
          </button>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>© Copyright FaceNet. All Rights Reserved</nz-footer>
    </nz-layout>
  </nz-layout>
</ng-template>
