<section>
  <h1>History</h1>
  <form class="ant-advanced-search-form">
    <div class="controlBox">
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24">Ship's name</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24" [nzSm]="15" [nzXs]="24">
          <input nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24">IMO number </nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24">Date of build</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <nz-date-picker style="width: 100%"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24">Report Number</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24"
          >First date of measurement</nz-form-label
        >
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <nz-date-picker style="width: 100%"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24"
          >Last date of measurement</nz-form-label
        >
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <nz-date-picker style="width: 100%"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-row style="margin-right: 24px; margin-bottom: 24px">
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'">
          <span nz-icon nzType="file-search" nzTheme="outline"></span>Search
        </button>
        <button nz-button (click)="resetForm()">Clear</button>
      </div>
    </div>
  </form>
  <div class="search-result-list">
    <nz-table
      #borderedTable
      nzTemplateMode="true"
      nzBordered
      [nzScroll]="{ y: '450px' }"
    >
      <thead class="titleTable">
        <tr class="titleTable">
          <th class="titleTable" nzWidth="60px">No.</th>
          <th class="titleTable" nzWidth="250px">Ship's name</th>
          <th class="titleTable" nzWidth="115px">IMO number</th>
          <th class="titleTable" nzWidth="120px">Date of build</th>
          <th class="titleTable" nzWidth="200px">Report Number</th>
          <!-- <th class="titleTable">Classification society</th> -->
          <th class="titleTable" nzWidth="120px">First date of measurement</th>
          <th class="titleTable" nzWidth="120px">Last date of measurement</th>
          <th class="titleTable" nzWidth="120px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let generalParticular of generalParticulars; let i = index">
          <td style="text-align: center">{{ i + 1 }}</td>
          <td>
            {{ generalParticular.shipInfo.name }}
          </td>
          <td>{{ generalParticular.shipInfo.imoNumber }}</td>
          <td>
            {{ generalParticular.shipInfo.dateOfBuild }}
          </td>
          <td>{{ generalParticular.reportNo }}</td>
          <td>
            {{ generalParticular.firstDateOfMeasurement }}
          </td>
          <td>
            {{ generalParticular.lastDateOfMeasurement }}
          </td>
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td></td> -->
          <td>
            <a nz-popconfirm> Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?">Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</section>
