<section #myElement>
  <h1>THICKNESS MEASUREMENT REPORT INDEX</h1>
  <div class="infoBox">
    <div class="labelBox">
      <label for=""> SHIP'S NAME</label><br />
      <label for=""> IMO No.</label><br />
      <label for=""> CLASS ID.</label><br />
      <label for=""> REPORT No.</label><br />
      <label for=""> TYPE OF SURVEY</label><br />
    </div>
    <div class="outputBox">
      <span style="margin-right: 10px">:</span>
      <span style="color: cadetblue"
        ><b>{{ outShipName }}</b></span
      ><br />
      <span style="margin-right: 10px">:</span>
      <span style="color: blue"
        ><b>{{ outIMO }}</b></span
      ><br />
      <span style="margin-right: 10px">:</span>
      <span
        ><b>{{ outClass }}</b></span
      ><br />
      <span style="margin-right: 10px">:</span>
      <span
        ><b>{{ outReport }}</b></span
      ><br />
      <span style="margin-right: 10px">:</span>
      <span
        ><b>{{ outSurvey }}</b></span
      ><br />
    </div>
  </div>
  <div class="index-list">
    <nz-table
      class="table-list"
      #borderedTable
      nzTemplateMode="true"
      nzBordered
      [nzScroll]="{ y: '500px' }"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <thead class="titleTable">
        <tr class="titleTable">
          <th class="titleTable" nzWidth="80px">Part.</th>
          <th class="titleTable">Item</th>
          <th class="titleTable" nzWidth="200px">Action</th>
        </tr>
      </thead>
      <tbody
        cdkDragLockAxis="y"
        class="list"
        cdkDrag
        *ngFor="let part of parts; let i = index"
      >
        <tr cdkDragHandle>
          <td style="text-align: center; background-color: #f5f5f5">
            <b>{{ part.partIndex }}</b>
          </td>
          <td
            *ngIf="part.edit === false; else editpartname"
            style="background-color: #f5f5f5"
          >
            <b>{{ part.partName }}</b>
          </td>
          <ng-template #editpartname>
            <td>
              <input
                nz-input
                placeholder="Enter new part name"
                [(ngModel)]="part.partName"
              />
            </td>
          </ng-template>
          <td
            *ngIf="part.edit === false; else savepart"
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              text-align: center;
              background-color: #f5f5f5;
              align-items: center;
            "
          >
            <a (click)="editPart(i)"
              ><span nz-icon nzType="edit" nzTheme="outline"></span
            ></a>
          </td>
          <ng-template #savepart>
            <td style="text-align: center; background-color: #f5f5f5">
              <a (click)="savePart(i)"
                ><span nz-icon nzType="save" nzTheme="outline"></span
              ></a>
            </td>
          </ng-template>
        </tr>
        <tr
          style="background-color: white"
          *ngFor="let form of part.forms; let j = index"
        >
          <td style="text-align: center">
            {{ part.partIndex }}.{{ form.index }}
          </td>
          <td>{{ form.name }}</td>
          <td
            style="
              text-align: center;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
            "
          >
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
              "
            >
              <a
                nz-popconfirm
                nzPopconfirmTitle="Sure to delete?"
                (nzOnConfirm)="deleteTm(part.id, form.index, i, j)"
                (nzOnCancel)="cancel()"
                nzPopconfirmPlacement="top"
                ><span nz-icon nzType="delete" nzTheme="outline"></span></a
              ><nz-divider nzType="vertical"></nz-divider>
              <div style="display: flex; flex-direction: column">
                <a *ngIf="j !== 0" (click)="moveUpForm(i, j)">
                  <span nz-icon nzType="up" nzTheme="outline"></span
                ></a>
                <a
                  *ngIf="j !== part.forms.length - 1"
                  (click)="moveDownForm(i, j)"
                >
                  <span nz-icon nzType="down" nzTheme="outline"></span
                ></a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</section>
