
.title{
    text-align: center;
}
.infor{
    display: flex;
    justify-content: space-between;
}
.th th{
    background-color: rgb(129,194,255);
}

.infor span{
    border-bottom: 1px dotted ;
    margin-left: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    font-weight: 700;
}

.addPage{
    margin: 5px 0;
    float: right;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    margin-right: 18px;
    width: 35%;
    justify-content: space-between;
    height: 32px;
}
.addPage button{
    background-color: rgb(20, 139, 250);
    border: 0;
    cursor: pointer;
    color: white;
    width: 40%;
    margin-left: 10px;
    border-radius: 5px;
}

.addPage input{
    height: 100%;
    width: 20%;
}


input{
    padding: 0 2px;
    margin: 0;
    height: 25px;
    width: 100%;
    font-size: 12px;
}
.addPage button:hover{
    transition: 0.5s;
    background-color: rgb(53, 158, 255);
}

nz-table th,td{
    text-align: center;
}