<section>
    <div class="header">
        <h1 class="title">
            Report on THICKNESS MEASUREMENT OF W.T./O.T. TRANSVERSE BULKHEADS
            within the cargo tank or cargo hold spaces
        </h1>
        <div class="infor">
            <p>Ship's name: <span>{{shipName}}</span></p>
            <p>Class Identity No.: <span>{{classIdentity}}</span></p>
            <p>Report No.: <span>{{reportNo}}</span></p>
        </div>
    </div>
    <div class="addPage">
        <input nz-input type="number" [(ngModel)]="lineAdd" />
        <button (click)="addRow()">
            <span nz-icon nzType="file-add" nzTheme="outline"></span>Add
            {{lineAdd}} rows
        </button>
    </div>

    <nz-table [nzScroll]="{ y: '400px' }" [nzPageSize]="5" nzBordered class="table" nzTemplateMode="" nzSize="small"
        #dataTable [nzData]="listOfData" [nzFrontPagination]="false">
        <thead>
            <tr class=" th">
                <th colspan="3">Tank description:</th>
                <th colspan="11">
                    <input nz-input nz-input type="text" [defaultValue]="tankHoldDescription" />
                </th>
            </tr>
            <tr class=" th">
                <th colspan="3">Location of structure:</th>
                <th colspan="5">
                    <input nz-input nz-input type="text" [defaultValue]="locationOfStructure" />
                </th>
                <th colSpan="1">Frame No.:</th>
                <th colSpan="5">
                    <input nz-input type="text" name="locationOfStructure" [defaultValue]="frameNo"
                        id="locationOfStructure">
                </th>
            </tr>
            <tr class="th">
                <th rowSpan="2">No.</th>
                <th rowSpan="2" colSpan="2">STRUCTURAL COMPONENT (PLATING/STIFFENER)</th>
                <th rowSpan="2">Item</th>
                <th rowSpan="2">Original Thickness(mm)</th>
                <th rowSpan="2">Maximum Allowable Dim(mm)</th>
                <th rowSpan="1" colSpan="2">Gauged</th>
                <th rowSpan="1" colSpan="3">Diminution P</th>
                <th rowSpan="1" colSpan="3">Diminution S</th>
            </tr>
            <tr class="th">
                <th>P</th>
                <th>S</th>
                <th>mm</th>
                <th colSpan="2">%</th>
                <th>mm</th>
                <th colSpan="2">%</th>
            </tr>
        </thead>
        <tbody class="tb">
            <tr *ngFor="let data of dataTable.data" class="editable-row">
                <td>{{data.id}}</td>
                <td colspan="2">
                    <input nz-input type="text" name="" id="" [(ngModel)]="data.structuralComponent">
                </td>
                <td>
                    <input nz-input type="text" name="" id="" [(ngModel)]="data.item">
                </td>
                <td>
                    <input nz-input (input)="calMAD(data.id)" (input)="calDimP(data.id)" (input)="calDimS(data.id)"
                        [(ngModel)]="data.originalThickness">
                </td>
                <td>{{data.maximumAllowableDim}}</td>
                <td>
                    <input nz-input (input)="calDimP(data.id)" type="text" name="" id="" [(ngModel)]="data.gaugedP">
                </td>
                <td>
                    <input nz-input (input)="calDimS(data.id)" type="text" name="" id="" [(ngModel)]="data.gaugedS">
                </td>
                <td>{{data.diminutionPmm}}</td>
                <td>{{data.diminutionPpercent}}</td>
                <td style="color: red;">
                    {{ data.isStandardP ? '' : 'R' }}
                </td>
                <td>{{data.diminutionSmm}}</td>
                <td>{{data.diminutionSpercent}}</td>
                <td style="color: red;">{{ data.isStandardS ? '' : 'R' }}</td>
            </tr>
        </tbody>
    </nz-table>
    <div class="btn-save">
        <button nz-button nzType="primary"><span nz-icon nzType="save" nzTheme="outline"></span>Save
        </button>
    </div>
</section>